<%= @genre.name %>
<br>
<% @genre.songs.each do |song| %>
<%= song.name %>
<br>
<a href="/songs/<%=song.slug%>"></a>
<%end%>
<% @genre.artists.each do |artist| %>
  <%= artist.name %>
  <br>
  <a href="/artists/<%=artist.slug%>"></a>
  <%end%>
