<%= @genre.name %>
<% @genre.artists.each do |song| %>
  <a href="/artists/<%= song.slug %>"><%= song.name %> </a>
<% end %>
<% @genre.songs.each do |song| %>
  <a href="/songs/<%= song.slug %>"><%= song.name %> </a>
<% end %>
