<h1>Genre Type: <%=@genre.name%></h1>
<h2>List of Artists with the genre <%=@genre.name%>:</h2>
  <ol>
    <% @genre.artists.each do |artist| %>
      <li><a href="/artists/<%=artist.slug%>"><%=artist.name%></a></li>
    <% end %>
  </ol>
<h2>List of Songs with the genre <%=@genre.name%>:</h2>
  <ol>
    <% @genre.songs.each do |song| %>
      <li><a href="/songs/<%=song.slug%>"><%=song.name%></a></li>
    <% end %>
  </ol>
