<p> Name: <%= @genre.name %> </p>

Songs and their artists: 
<% @genre.songs.each do |song| %>
    <p> <a href="/songs/<%= song.slug %>"> <%= song.name %></a></p>
<% end %>

<% @genre.artists.each do |artist| %>
    <p> <a href="/artists/<%= artist.slug %>"> <%= artist.name %></a></p>
<% end %>