<h1> Genre: <%=@genre.name%></h1>
    <h2> Artists Associated: <%@genre.artists.each do |a|%></h2>
      </ul>
        <li><a href="/artists/<%=a.slug%>"><%=a.name%></a></li>
    <%end%>
      </ul>
<br></br>
<h2> Song(s) Include:</h2>
  <ul><%@genre.songs.each do |s| %>
    <li><a href='/songs/<%=s.slug%>'><%= s.name %></a></li>
  <%end%>
  </ul>
