<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genres Page</title>
  </head>
  <body>
    <h1>Genre Title</h1>
    <h3><%= @genre.name %></h3>

    <% @genre.artists.each do |artist| %>
      <h5><a href="/artists/<%= artist.slug %>"><%= artist.name %></h5>
    <% end %>    
    <% @genre.songs.each do |song| %>
      <h5><a href="/songs/<%= song.slug %>"><%= song.name %></a></h5>
    <% end %>


  </body>
</html>
