
<h1>Genre - <%=@genre.name.capitalize%> </h1>

<h2>Songs:</h2>
 <%@genre.songs.each do |song|%>
  <a href="/songs/<%=song.slug%>"><%=song.name%></a><br>
 <%end%>

 <h2>Artists:</h2>
  <%@genre.artists.each do |artist|%>
   <a href="/artists/<%=artist.slug%>"><%=artist.name%></a><br>
  <%end%>
