<h1><%= @genre.name %> Show Page</h1>
<h4>Songs</h4>
<ul>
  <% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
  <% end %>
</ul><br>

<h4>Artists</h4>
<ul>
  <% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
  <% end %>
</ul><br>

<a href="/genres">Back to Index</a>