Genre: <%=@genre.name%>

<div class="row">

  <div>
  Artists:
    <%@genre.artists.each do |artist|%>
    <a href="/artists/<%=artist.slug%>"><%=artist.name%></a>
    <%end%>
  </div>

  <div>
    Songs:
    <%@genre.songs.each do |song|%>
    <a href="/songs/<%=song.slug%>"><%=song.name%></a>
    <%end%>
  </div>

</div>
