<h2>Genre: <%=@genre.name%></h2>

<% @genre.artists.each do |a| %>
<p><strong>Genre: </strong> <a href="/artists/<%=a.slug%>"><%=a.name%></a></p>
<% end %>

<% @genre.songs.each do |s| %>
<p><strong>Genre: </strong> <a href="/songs/<%=s.slug%>"><%=s.name%></a></p>
<% end %>
