<%=@genre.name%><br>
<%=@genre.artists[0].name%><br>
<%=@genre.songs[0].name%><br>
<a href="/artists/<%=@genre.artists[0].slug%>">Artist's show page</a><br>
<a href="/songs/<%=@genre.songs[0].slug%>">Song's show page</a><br>