<h2><em><%= @genre.name %></em></h2><br>

<p class="lead">Artist - Song</p>

<ul>
  <% @genre.songs.each do |song| %>
  <li><p class="lead"><a href="/artists/<%=song.artist.slug%>"><%= song.artist.name %></a> - <a href="/songs/<%=song.slug%>"><%= song.name %></a></p></li>
  <% end %>
</ul>
