<% genre = @genre %>

<h1><%= genre.name %></h1>

<h2>Songs</h2>

<% genre.songs.order(:name).each do |song| %>

<% url = "/songs/#{song.slug}" %>

<h3>
<a href="<%= url %>">
<%= song.name %>
</a>
</h3>

<% end %>

<h2>Artists</h2>
<% genre.artists.order(:name).each do |artist| %>

<% url = "/artists/#{artist.slug}" %>

<h3>
<a href="<%= url %>">
<%= artist.name %>
</a>
</h3>

<% end %>
