<h3>Genre: <%=@genre.name%></h3>

<%#binding.pry%>
<ul>
  <% @genre.songs.each do |song| %>
    <li>Song: <a href="/songs/<%=song.slug%>"><%=song.name%> </a></li>
  <% end %>
</ul>

<ul>
  <% @genre.artists.each do |artist| %>
    <li>Artist: <a href="/artists/<%=artist.slug%>"><%=artist.name%> </a></li>
  <% end %>
</ul>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
