<h1><%= @genre.name %></h1>

<h2><%= @genre.name %> songs >></h2>

  <% @genre.songs.each do |song| %>
  <li><a href='/songs/<%= song.slug %>'><%= song.name %></a></li>
  <%end%>

<br></br>
<h2>artists with <%= @genre.name %> songs >></h2>
  <% @genre.artists.each do |artist| %>
  <li><a href='/artists/<%= artist.slug %>'><%= artist.name %></a></li>
  <%end%>
