<h1>Genre:<a href="/genres/<%=@genre.slug%>"> <%= @genre.name %> </a></h1>

<h3>Song Catalog:</h3>
 <% @genre.songs.each do |song| %>
    <a href="/songs/<%=song.slug%>"><%= song.name %></a>
  <%end%>

<h3>Artists Catalog: </h3>
  <% @genre.artists.each do |artist|%>
    <a href="/artists/<%=artist.slug%>"> <%= artist.name %> </a>
  <%end%>
