<h3><%=@genre.name%></h3>
<h4>Songs:</h4>
<%@genre.songs.each do |song|%>
  <a href='/songs/<%=song.slug%>'><%=song.name%></a>
<%end%>
<h4>Artists:</h4>
<%@genre.artists.each do |artist|%>
  <a href='/artists/<%=artist.slug%>'><%=artist.name%></a>
<%end%>
