<h1><%= @genre.name %></h1>
<h3>Songs: </h3>
<ul>
  <% @genre.songs.each do |s| %>
    <a href="/songs/<%= s.slug %>"><li> <%= s.name %></li></a>
  <% end %>
  </ul>
<h3>Genres:</h3>
<ul>
<% @genre.artists.each do |a| %>
  <a href="/artists/<%= a.slug %>"><li> <%= a.name %></li></a>
<% end %>
</ul>
