<h1><%= @genre.name %></h1><br>

<% @genre.artists.each do |artist| %>
<a href=<%= "/artists/#{artist.slug}" %>><%= artist.name %></a>
<% end %>

<% @genre.songs.each do |song| %>
<a href=<%= "/songs/#{song.slug}" %>><%= song.name %></a>
<% end %>
