<h1>Genre</h1>

<%= @genre.name%>

<% @genre.artists.each do |artist| %>
   <a href = "/genres/<%= artist.slug %>"><%= artist.name %></a><br>
<% end %>

<% @genre.songs.each do |song| %>
   <a href = "/genres/<%= song.slug %>"><%= song.name %></a><br>
<% end %>
