<%= @sluggish.name %>
<% @sluggish.artists.each do |artist| %>
  <%= artist.name %>
  <a href="/artists/<%= artist.slug %>"></a>
<% end %>
<% @sluggish.songs.each do |song| %>
  <%= song.name %>
  <a href="/songs/<%= song.slug %>"></a>
<% end %>
