<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Genre</title>
</head>
<body>
  <h1>Genre: <%= @genre.name %></h1>
  <h3>Artists: </h3>
  <% @genre.songs.each do |song| %>
  <p> <a href="/artists/<%= song.artist.slug %>"><%= song.artist.name %></a></p>
  <% end %>
  <h3>Songs: </h3>
  <% @genre.songs.each do |song| %>
  <p> <a href="/songs/<%= song.slug %>"><%= song.name %></a></p>
  <% end %>
</body>
</html>
