<h1>Genre: <%=@genre.name%></h1>
<%@genre.artists.each do |artist| %>
<h2>Artists: <a href = "/artists/<%= artist.slug%>"><%= artist.name %></a></h2>
<%end%>
<%@genre.songs.each do |song| %>
<h2>Songs: <a href = "/songs/<%= song.slug%>"><%= song.name %></a></h2>
<%end%>
