<h1>Show a Genre: <%= @genre.name%> </h1>
<h6>views/genres/show.erb</h6>
<% @genre.artists.each do |artist| %>
<h3>
  <a href="/artists/<%= artist.slug %>">
  Artist: <%= artist.name %></a>
</h3>
  <%artist.songs.each do |song| %>
    <p><a href="/songs/<%= song.slug %>">
    Song: <%= song.name %> </a></p>
  <%end%>
  <hr>
  <%end%>
