<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Genre: <%=@genre.name%></h1>
    <br>
    <h2>Song(s):</h2>
    <!-- convert this to iterate -->
    <% @genre.songs.each do |song| %>
    <a href="/songs/<%=song.slug%>"><%= song.name %></a>
    <% end %>

    <br>

    <h2>Artist(s):</h2>
    <% @genre.artists.each do |artist| %>
    <a href="/artists/<%=artist.slug%>"><%= artist.name %></a>
    <% end %>
  </body>
</html>
