<h1>Artists by <%= @genre.name %> genre:</h1>

<ol>
<% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %> </a></li>
<% end %>
</ol>


<h1>Songs by <%= @genre.name %> genre: </h1>

<ol>
<% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %> </a></li>
<% end %>
</ol>
