<h1><%=@genre.name%></h1>

<h2>Songs:</h2>
<%@genre.songs.each do |song_obj|%>
<h3><a href="/songs/<%=song_obj.slug%>"><%=song_obj.name%></a></h3>
<%end%>

<br></br>
<h2>Artists:</h2>
<%@genre.artists.each do |artist_obj|%>
<h3><a href="/artists/<%=artist_obj.slug%>"><%=artist_obj.name%></a></h3>
<%end%>
