<%=@genre.name%>
<%=@genre.artists[0].name%>
<%=@genre.songs[0].name%>
<a href="/artists/<%=@genre.artists[0].slug%>">Artist's show page</a>
<a href="/songs/<%=@genre.songs[0].slug%>">Song's show page</a>
