<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <h1><center><%=@genre.name%></center></h1>
    <table style="width:100%">
      <tr>
        <th><h2>Songs</h2></th>
        <th><h2>Artists</h2></th>
      </tr>
      <%@genre.songs.each do |song|%>
        <tr>
          <td><a href="/songs/<%=song.slug%>"><%=song.name%></a></td>
          <td><a href="/artists/<%=song.artist.slug%>"><%=song.artist.name%></a></td>
        </tr>
      <%end%>
    </table>
  </body>
</html>