genres/show.erb

<h2> Genre: <%= @genre.name %> </h2>

<h3> Songs: </h3>
<% @genre.songs.all.each do |song|%>
<a href='/songs/<%= song.slug %>'> <%= song.name%></a>
<% end %>

<h3> Artists: </h3>
<% @genre.artists.all.each do |artist|%>
<a href='/artists/<%= artist.slug %>'> <%= artist.name%></a>
<% end %>
