<h1><%=@genre.name.titleize%> Genre Show Page</h1>

<p><% @genre.artists.each do |a|  %>
<a href="/artists/<%= a.slug %>"><%= a.name%><br>
<% end %></a></p>

<p><% @genre.songs.each do |s|  %>
<a href="/songs/<%= s.slug %>"><%= s.name%><br>
<% end %></a></p>
