<h1><%=@genre.name%></h1>

<h2>Songs</h2>
<%@genre.songs.each do |song|%>
  <a href="/songs/<%=song.slug%>"><h2><%=song.name%></h2></a>
<%end%>

<h2>Artists:</h2>
<%@genre.artists.each do |artist|%>
  <a href="/artists/<%=artist.slug%>"><h2><%=artist.name%></h2></a>
<%end%>
