<h1> Genre <%=@genre.name%> requested shown below </h1>
<br></br>
<% @genre.artists.each do |a| %>
  <h3> <%= a.name %></h3>
  <br></br>
  <a href="/artists/<%= a.slug %>"><%= a.name %> Link </a>
  <br></br>
  <% end %>
<% @genre.songs.each do |s| %>
  <h3> <%= s.name %> </h3>
  <br></br>
  <a href="/songs/<%= s.slug %>"><%= s.name %> Link </a>
  <br></br>
<% end %>
