<%= @genre.name %>
<br></br>
<h3>artists</h3>
<% @genre.artists.each do |instance| %>
  <a href="/artists/<%= instance.slug %>"><%= instance.name %></a>
  <br></br>
<% end %>

<h3>songs</h3>
<% @genre.songs.each do |instance| %>
  <a href="/songs/<%= instance.slug %>"><%= instance.name %></a>
  <br></br>
<% end %>