Genre
<p><%= @genre.name %></p>

<% @genre.songs.each do |f| %> 
  <p><%= f.name %></p>
  <p>Link: <a href="/songs/<%= f.slug %>" > /songs/<%= f.slug %> </a></p>
<% end %>

<% @genre.artists.each do |f| %> 
  <p><%= f.name %></p>
  <p>Link: <a href="/artists/<%= f.slug %>" > /artists/<%= f.slug %> </a></p>
<% end %>
