<h1><%= @genre.name %></h1>

<ul>
 <% @genre.songs.each do |song| %>
    <li> <%= song.artist.name %> </li>
    <p> <a href="/artists/<%= song.artist.slug %>"></a></p>
  <%end%>
</ul>

<ul>
 <% @genre.songs.each do |song| %>
    <li> <%= song.name %> </li>
    <p> <a href="/songs/<%= song.slug %>"></a></p>
  <%end%>
</ul>
