<html>
<body>
  <h2><%=@genre.name%></h2>
  <hr>
  <h3>Songs</h3>
  <ul>
    <% @genre.songs.each do |song| %>
      <li><p><a href="songs/<%=song.id%>"<%=song.name%></a></p></li>
    <% end %>
  </ul>

  <hr>

  <h3>Artists</h3>
  <ul>
    <% @genre.artists.each do |artist| %>
      <li><p><a href="artists/<%=artist.id%>"<%=artist.name%></a></p></li>
    <% end %>
  </ul>
</body>
</html>
