<h3><%=@genre.name%></h3>
<br></br>
<h4>Songs:</h4>
<%@genre.songs.each do |song|%>
  <%=song.name%>
  <a href='/songs/<%=song.slug%>'></a>
<%end%>
<br></br>
<h4>Artists:</h4>
<%@genre.artists.each do |artist|%>
  <%=artist.name%>
  <a href='/artists/<%=artist.slug%>'></a>
<%end%>
<br></br>
