<h1><%=@song.name%></h1>

<form action='/songs/<%=@song.slug%>' method='post'>

<!-- Need to get song name and artist -->
<div>
  <label for='name'>Song name:</label>
  <input type='text' name='name' id='Name' value='<%=@song.name%>'>
</div>
<div>
  <label for='Artist Name'>Artist name:</label>
  <input type='text' name='artist_name' id='Artist Name' value='<%=@song.artist.name%>'>
</div>
<hr>
<!-- then list checkboxes for genre -->
<%Genre.all.each do |genre|%>
  <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genres.include?(genre) %> >
  <%=genre.name%></input>
<%end%>
<hr>

<input type='submit' value="Save">
</form>
