<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>

<a href="/artists/<%= @song.artist.slug %>"><p><%=@song.artist.name%></p></a>

<% @song.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><p><%=genre.name%></p></a>
<% end %>