<h1>Artist Details</h1>
<h2><%= @artist.name %></h2>

<p>Songs: <% @artist.songs.each do |song| %>
<a href="/songs/<%= song.slug %>"><%= song.name %></a>
<% end %></p>

<p>Genres: <ul><% @artist.genres.each do |genre| %>
<li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %></ul>
</p>
