<h1><%= @artist.name %> Show Page</h1>
<h4>Songs</h4>
<ul>
  <% @artist.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
  <% end %>
</ul><br>

<h4>Genres</h4>
<ul>
  <% @artist.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ul>
<br></br>
<form method="get" action="/songs/new">
  <input type="submit" value="Create New Song">  
</form>
<br></br>
<h5>Other Indexes:</h5>
<ul>
  <li><a href="/">Playlister Home</a></li>
  <li><a href="/songs">Song Index</a></li>
  <li><a href="/artists">Artist Index</a></li>
  <li><a href="/genres">Genre Index</a></li>
</ul> 