<h1>Artist Details: </h1>
<p>Name: <%=@artist.name%></p>

<p>Songs: <%@artist.songs.each do |song|%></p>
  <p><a href="/songs/<%= song.slug%>"><%= song.name%></a></p>
  <%end%>

<p>Genres: <%@artist.genres.each do |genre|%></p>
  <p><a href="/genres/<%= genre.slug%>"><%= genre.name%></a></p>
  <%end%>
