<h1>Artist: <%= @artist.name %> </h1>
<% @artist.songs.each do |song| %>
  <ul>
    <li>Song: <%= song.name %> <a href="/songs/<%= song.slug %>">(link)</a>  -
    <% song.genres.map do |genre| %>
      <%= genre.name %> <a href="/genres/<%= genre.slug %>">(link)</a>
    <% end %></li>
  </ul>
<% end %>
