<h1><%= @artist.name %></h1>

<h3>Songs and Genres</h3>
<% @artist.songs.each do |song| %>
  <p>
    <a href="/songs/<%= song.slug %>">
      <%= song.name %>
    </a> --
    <% song.genre_ids.each do |id| %>
      <% genre = Genre.find(id) %>
      <a href="/genres/<%= genre.slug %>">
        <%= genre.name %>
      </a>
    <% end %>
  </p>
<% end %>
