<h1><%= @artist.name %></h1>

<h2>Songs: </h2>
<% @artist.songs.each_with_index do |song, index| %>
  <%= index + 1 %>. <a href="/songs/<%= song.slug %>"><%= song.name %></a><br>
<% end %>

<h2>Genres: </h2>
<% @artist.genres.each_with_index do |genre, index| %>
  <%= index + 1 %>. <a href="/genres/<%= genre.slug %>"><%= genre.name %></a><br>
<% end %>
