<h1><%=@artist.name%></h1>

<span>
<h3>Genre:</h3>
<% @artist.genres.each do |genre| %>
<li>
 <a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
</li>
<% end %>
</span>

<span>
<h3>Songs:</h3>
<% @artist.songs.each do |song| %>
<li>
 <a href="/songs/<%=song.slug%>"><%=song.name%></a>
</li>
<% end %>
</span>