<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    Name: <%= @artist.name %> <br><br>
    Songs: <br>
    <% @artist.songs.each do |s| %>
      <a href="/songs/<%=s.slug%>"><%= s.name %></a> <br>
    <% end %><br>

    Genres: <br>
    <% @artist.genres.each do |g| %>
      <a href="/genres/<%=g.slug%>"><%= g.name %></a> <br>
    <% end %>


  </body>
</html>
