<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artists Show Page</title>
</head>
<body>
  <h1><%= @artist.name %></h1>
  <h3>Songs:</h3>
  <% @artist.songs.each_with_index do |song, i| %>
    <%= "#{i+1}. " %> 
    <a href="/songs/<%=song.slug%>">
      <%= song.name %></a><br>
  <%end%>

  <h3>Genres:</h3>
    <% @artist.genres.each_with_index do |genre, i| %>
    <%= "#{i+1}. " %>
    <a href="/genres/<%=genre.slug%>">
      <%= genre.name %></a><br>
    <%end%>
</body>
</html>