<h1><%= @artist.name%> </h1>
<%@songs.each do |song| %>
  <p><a href="/songs/<%=song.slug%>">Song: <%= song.name %> </a></p>
<% end %>

<%@genres.each do |genre| %>
  <p><a href="/genres/<%=genre.slug%>">Genre: <%= genre.name %> </a></p>
<% end %>
