<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>Welcome to <%=@artist_id.name%> Page</h1>

    <h3><%= @artist_id.name%> Songs</h3>
    <ol>
    <% @artist_id.songs.each do |song| %>
      <li>  <a href="/songs/<%=song.slug%>"><%= song.name %></a> </li>
    <%end%>
  </ol>
  <h3><%= @artist_id.name%> Genres </h3>
  <ol>
  <% @artist_id.genres.each do |genre| %>
    <li>  <a href="/genres/<%=genre.slug%>"><%= genre.name %></a> </li>
  <%end%>
</ol>

  </body>
</html>
