<h1><%= @artist.name %></h1>

<h2>Songs:<br><br>
  <% @artist.songs.each do |song| %>
    Name: <a href="/songs/<%= song.slug %>"> <%= song.name %></a><br>
      <% song.genres.each do |genre| %>
        Genre: <a href="/genres/<%= genre.slug %>"> <%= genre.name %></a><br>
      <% end %><br>
    <% end %></h2>
