<h3>Artist name:</h3>
<%= @artist_name %>
<h3>Artist songs:</h3>
<% @artist_songs_slugged.each do |song| %>
  <a href="/songs/<%= song %>"><%= song %></a>
<% end %>
<h3>Artist genres:</h3>
<% @artist_genres.each do |genre| %>
  <% genre %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
<% end %>

<a href="/artists/<%= @song_artist_slugged %>"><%= @song_artist_name %></a>
<a href="/genres/<%= @song_genre_slugged %>"><%= @song_genre_name %></a>
