<h1>Artist</h1>

<h3>Name: <%= @artist.name %></h3>

<h3>Songs:</h3>

<% @artist.songs.each do |song| %>
  <p>
    <a href="/songs/<%= song.slug %>"><%= song.name %></a>
  </p>
<% end %>

<h3>Genres: </h3>

<% @artist.genres.each do |genre| %>
  <p>
    <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
  </p>
<% end %>
