<h2><%= @artist.name %></h2>
<% @artist.songs.each do |x| %>
<h3><%= x.name %></h3>
<a href="/songs/<%=x.slug%>">Show <%=x.name%>'s page</a>
<% end %>
<% @artist.genres.each do |x| %>
<h3><%= x.name %></h3>
<a href="/genres/<%=x.slug%>">Show <%=x.name%>'s page</a>
<% end %>
