<h2><em><%=@artist.name%></em></h2>

<p class="lead">Songs</p>
<ul>
  <% @artist.songs.each do |song| %>
  <li><p class="lead"><a href="/songs/<%=song.slug%>"><%= song.name %></a></li>
  <% end %>
</ul>

<p class="lead">Genres</p>
<ul>
  <% @artist.genres.uniq.each do |genre| %>
  <li><p class="lead"><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></li>
  <% end %>
</ul>
