<h1><%= @artist.name %></h1>

<h2>Songs:</h2>
  <% @artist.songs.each do |s| %>
    <ul>
    <li><a href='/songs/<%= s.slug %>'><%= s.name %></a></li>
  </ul>
  <% end %>

<h3>Genres:</h3>
  <% @artist.genres.each do |g| %>
    <ul>
    <li><a href='/genres/<%= g.slug %>'><%= g.name %></a></li>
  </ul>
  <% end %>
