<h1><%= @artist.name %></h1>

<h3>Songs:</h3>
<% @artist.songs.each do |a| %>
<p><a href="/songs/<%=a.slug%>"><%= a.name %></a></p>
<% end %>

<h3>Genres:</h3>
<% @artist.genres.each do |a| %>
<p><a href="/genres/<%=a.slug%>"><%= a.name %></a></p>
<% end %>
