<h1><%=@artist.name%></h1>

<ul>
<h3>Songs: </h3>
  <%@artist.songs.each do |a| %>
    <li><a href= "/songs/<%=a.songs.name.slug%>"><%=a.songs.name%></a></li>
  <%end%>
</ul>

<ul>
<h3>Genres: </h3>
  <%@artist.genres.each do |a| %>
    <li><a href= "/genres/<%=a.genres.name.slug%>"><%=s.genres.name%></a></li>
  <%end%>
</ul>
