<h1>Artist > <%= @artist.name %></h1>

<h2>Song<% if @artist.songs.count > 1 %><%= "s:" %><% else %><%= ":" %><% end %></h2>
  <% @artist.songs.each do |song| %>
  <a href="/songs/<%= song.slug %>"><span><%= song.name %></span></a>
  <% end %>

<h2>Genre<% if @artist.genres.count > 1 %><%= "s:" %><% else %><%= ":" %><% end %></h2>
  <% @artist.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><span><%= genre.name %></span></a>
  <% end %>
