<h1><%= @artist.name %></h1>

<h3>Songs</h3>
<ul>
<% @artist.songs.each do |s| %>
<li><a href="/songs/<%= s.slug %>"><%= s.name %></a></li>
<% end %>
</ul>

<h3>Genres</h3>
<ul>
<% @artist.genres.each do |g| %>
<li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
<% end %>
</ul>
