<h1><%= @artist.name %></h1>
<h2>
  Songs:
  <% @artist.songs.each do |song| %>
    <a href="/songs/<%= song.slug %>"><%= song.name %></a>
  <% end %>
</h2>
<h3>
  Genres:
  <% @artist.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
  <% end %>
</h3>
<form action=<%="/artists/#{@artist.slug}/delete"%> method="POST">
	<input type="submit" value="delete">
</form>
<br>
<form action=<%="/artists/#{@artist.slug}/edit"%> method="GET">
	<input type="submit" value="edit">
</form>
