

<p>Name of the Artist:</p>

<h3><%= @artist.name %></h3>

<p>Songs of the Artists: </p>
<% @song_slugs.each do |slug| %>
<ul>
  <li><a href="/songs/<%=slug%>"><%= Song.find_by_slug(slug).name %></a></li><br>
</ul>
<% end %>

<p>Genres of the Artists: </p>
<% @genre_slugs.each do |slug| %>
<ul>
  <li><a href="/genres/<%=slug%>"><%= Genre.find_by_slug(slug).name %></li><br>
</ul>
<% end %>

<p><a href="/songs">Return to the Songs Index Page</a> or <a href="/songs/new">Click Here to Create a New Song</a>
