
<h2>Artist Name: <%=@artist.name%> </h2> 
<h3>Artist Songs:</h3>
    <% @artist.songs.each do |song| %>
    <ul>            
    <li><a href="/songs/<%= song.slug %>"> <%= song.name %></li>
    </ul>
    <% end %>
<h3>Artist Genres:</h3>
    <% @artist.genres.each do |genre| %>
    <ul>            
    <li><a href="/genres/<%= genre.slug %>"> <%= genre.name %></li>
    </ul>
    <% end %>