Artist:
<%= @artist.name %><br>
Songs:
<% @artist.songs.collect do |song| %>
  <a href="/songs/<%= song.slug %>"><%= song.name %></a><br>
<% end %><br>
Genre:
<% @artist.genres.collect do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %></a><br>
<% end %><br>
