<h1>artist_name</h1>
<br>
<h1><%=@artist.name%></h1>
<br>
<h1>All songs of this artist</h1>
<br>
<%@artist.songs.each_with_index do |song,index|%>
<h1>song_<%=index+1%>_name</h1><a href="/songs/<%=song.slug%>"><%= song.name %></a>
<%end%>
<br>
<h1>All genres of this artist</h1>
<br>
<%@artist.genres.each_with_index do |genre,index|%>
<h1>genre_<%=index+1%>_name</h1><a href="/genres/<%=genre.slug%>"><%= genre.name %></a>
<%end%>
