
<h1><%=@artist.name%></h1>
  <ul>
    <%@artist.songs.each do |song|%>
    <h2><%=song.name%></h2>
    <a href='/songs/<%=song.slug%>'>Listen here</a>
    <%song.genres.each do |genre|%>
      <p>Genre - <%=genre.name%></p>
      <a href='/genres/<%=genre.slug%>'>Check out more <%=genre.name%> here</a>
      <%end%>
    <%end%>
  </ul>
