<h1><%= @artist.name %></h1>

<h2>Song(s):</h2>

<% @artist.songs.each do |song| %>

  <label>Song Name: <a href="/songs/<%= song.slug %>"><%= song.name %></a></label>

  <br></br>

  <label>Genre(s):</label>
  <ul>
    <% song.genres.each do |genre| %>
      <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
    <% end %>
  </ul>
<% end %> 