<h1><%=@artist.name%></h1>

<% @artist.songs.each do |song| %>
 <strong>Song:</strong> <%= song.name%>
 <p>View more about <a href="/songs/<%=song.slug%>"><%= song.name%></a></p>
<% end %>

<% @artist.genres.each do |genre| %>
 <strong>Genre:</strong> <%= genre.name%>
 <p>View more <a href="/genres/<%=genre.slug%>"><%= genre.name%></a> songs</p>
<% end %>
