<h1><%= @artist.name %></h1>
<h3>Songs:</h3>
<% @artist.songs.each do |song| %>
  <h4><a href="/songs/<%= song.slug %>"><%= song.name %></a></h4>
<% end %>
<br>
<h3>Genres:</h3>
<% @artist.genres.each do |genre| %>
  <h4><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h4>
<% end %>
