<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artist Page</title>
  </head>
  <body>
     <h2><%=@artist.name%></h2>
     Songs
     <ul>
       <%@artist.songs.each do |x|%>
          <li><a href = "/songs/<%= x.slug%>"><%= x.name%></a>
              <br>
              <a href = "/genres/<%=x.genres[0].slug%>"><%=x.genres[0].name%></a>
          </li>

       <%end%>
     </ul>
  </body>
</html>
