artists/show.erb

<h3>Displaying information for artist: <%= @artist.name %></h3>
<h1><%= @artist.name %></h1>

<h2>Songs:</h2>
<% @artist.songs.each_with_index do |song, index| %>
  <p>Song <%= index+1 %>: <a href="/songs/<%= song.slug %>"><%= song.name %></a></p>
<% end %>

<h2>Genres:</h2>
<% @artist.genres.each_with_index do |genre, index| %>
  <p>Genre <%= index+1 %>: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>
