<%=@artist.name%>
<%=@artist.songs[0].name%>
<%=@artist.genres[0].name%>
<a href="/songs/<%=@artist.songs[0].slug%>">song's show page</a>
<a href="/genres/<%=@artist.genres[0].slug%>">genre's show page</a>
