<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Artist Attributes</title>
  </head>
  <body>
    <h3><%= @artist.name %></h3>
    <% @artist.songs.each do |song| %>
    <br></br>
      <a href="/songs/<%= song.slug %>"><%= song.name %> </a><br>
    <% end %>
    <% @artist.genres.each do |genre| %>
    <br></br>
      <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a><br>
    <% end %>
  </body>
</html>
