<h1><%= @artist.name %></h1>
<h3> Songs: </h2>
  <%@artist.songs.each do |s|%>
  <p>
    <a href="/songs/<%=s.slug%>"><%= s.name %></a>
  </p>
  <%end%>
<h3> Genres: </h2>
  <% @artist.genres.each do |g| %>
    <p><a href="/genres/<%=g.slug%>"><%= g.name %></a></p>
  <% end %>
