<h1>Edit your Song!</h1>

<h2>Current Song:</h2>
  <div class="song">
    <h2><%= @song.name %></h2>

    <h3>Artist: </h3>
    <ul>
      <li><a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a></li>
    </ul>

    <h3>Genres:</h3>
    <ul> <% @song.genres.each do |genre| %>
      <li><a href='/genres/<%= genre.slug %>'><%=genre.name%></a></li>
      <% end %>
    </ul>
  </div>

<div class="create_form">

  <form method="post" action='/songs/<%= @song.slug %>'>
    <label>Artist Name: <input type="text" name="song[artist]" id="Artist Name"></label><br></br>

    <label>Genre(s):<br></br>
      <% Genre.all.each do |genre| %>
        <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.name%>" <%= 'checked' if @song.genres.include?(genre) %>><%=genre.name%></input><br>
      <% end %>
    </label><br>

    <input type="submit" id="Save" value="Save">

  </form>

</div>
