Edit This Song

<br><br>

<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label>Name</label>

  <br><br>

  <input type="text" name="song[name]" id="name" value="<%=@song.name%>">

  <br><br>

  <label>Artist</label>

  <br><br>

  <input type="text" name="song[artist]" id="artist" value="<%=@song.artist.name%>">

  <br><br>

  <label>Choose a Genre</label>

  <br><br>

  <%Genre.all.each do |genre|%>
    <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%=genre.id%>"<%='checked' if @song.genres.include?(genre) %>><%=genre.name%><br /></input>
  <%end%>

  <br><br>



  <input type="submit"value="Save">

</form>
