<form action="/songs/<%=@song.slug%>" method="post">
  <input id="hidden" type="hidden" name="_method" value ="patch">

  <label>Name:</label><input type="text" name="Song Name" id="Song Name" value="<%=@song.name%>">
  <label for="Artist Name">Artist Name:</label><input type="text" name="Artist Name" id="Artist Name" value="<%=@song.artist.name%>">
  <br></br>
    <br></br>
  <%Genre.all.each do |genre|%>
  <label><%=genre.name.capitalize%></label><input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"<%='checked' if @song.genres.include?(genre)%>>
  <%end%>
  <br></br>
  <br></br>
  <label>Save:</label><input type="submit" value="Save">
</form>
