<h1>Editing: <%= @song.name %></h1>

<form class="" action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <p style="font-weight:bold;" >Name:</p>
  <input type="text" name="song_name" value="<%= @song.name %>" id="Song Name">

  <p style="font-weight:bold;" >Artist:</p>
  <input type="text" name="artist_name" value="<%= @song.artist.name %>" id="Artist Name">

  <p style="font-weight:bold;" >Genre:</p>
  <% Genre.all.each do |genre|%>
  <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>"
  <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
  <% end %>

  <br><br>

  <input type="submit" name="" value="Save Edit">
</form>
