<h1>Edit <%= @song.name %> </h1>


<form action="/songs/<%= @song.slug %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">

  <label>Song Name</label>
 
  	<input 
  		type="text" 
  		name="Name" 
  		id="name"
  		value="<% @song.name %>"
  		>
  
  	<br>
	
	<label>Artist Name</label>

	<input 
		type="text" 
		name="Artist Name" 
		id="artist_name"
		value="<%= @song.artist.name %>"
		>
	<br>

	

	<!-- Make a checkbox for all the existing genres then create new?  -->
	
	<% Genre.all.each do |genre| %>
		<%= genre.name %>

		<input 
		type="checkbox" 
		name="song[genre_ids[]" 
		id="<%= genre.name %>"
		value="<%= genre.id %>"
		<%= "checked" if @song.genres.include?(genre) %> 
		>
		<% end %>
	 

  	<input type="submit" value="Save">

</form>

