<h2>Edit <%= @song.name %></h2>

<form method="POST" action="/songs/<%= @song.id %>">

  <input name="song_name" type="text" id="song" value="<%= @song.name %>" /><br /><br />
  <input name="artist_name" type="text" id="song[artist_name]" value="<%= @song.artist.name %>" /><br /><br />
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input><br />
  <% end %>
  <br />
  <input type="submit" value="Update Song" />
</form>
