<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Song</title>
</head>
<body>
  <h1>Edit Song</h1>
  <form action="/songs/<%= @song.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="put">
    <label for="name">Song Title:</label>
    <input type="text" id="name" name="Name" value="<%= @song.name %>"><br><br>
    <label for="artist_name">Artist Name:</label>
    <input type="text" id="artist_name" name="Artist Name" value="<%= @song.artist.name %>"><br>
    <p>Genre</p>
    <% @genres.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%= "checked" if @song.genres.include?(genre)%>><%= genre.name%><br>
    <% end %><br> 
    <input type="submit" value="Save">
  </form>
</body>
</html>