<h1>Update Song</h1>
<h1><%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="song_name" id="song_name" value="<%= @song.name %>">

  <h2>Artist Name</h2>
  <input type="text" name="artist_name" id="Artist Name" value="<%=@song.artist.name%>"><br>

  <h3>Genres</h3>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"<%='checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
  <% end %>

  <input type="submit" id ="Save" value="Save">

</form>