<h1>Edit a Song</h1>
<form class="" action="/songs/<%=@song.slug%>" method="post"> <!-- posts to index -->
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br>

  <input type="text" name="song[name]" value="Song Name" id="Name">

  <br>


  <label>Change artist:</label>

  <br>
  <label>change from <%= artist.name %> to</label>
  <input id="<%= @artist.id %>" type="text" name="song[artist_id]" value="<%= @artist.id %>">
<!-- changes singular artist -->
  <br>
  <label>Change genre:</label>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.id %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>">
  <label><%= genre.name %></label>
  <% end %>
    <br>

    <label>and/or create a new artist:</label>
    <br>
    <label>name:</label>
    <input type="text" name="song[artist][name][]" value="<%=@song.artist.name%>" id="Artist Name">
    <br>

    <label>and/or create a new genre:</label>
    <br>
    <label>name:</label>
    <input type="text" name="Genre Name">
    <br>
  <!-- rspec spec/features/05_song_form_spec.rb --f-f for quick access-->
  <input type="submit" name="Save" value="Save">
</form>
