<h1>Edit '<%= @song.name %>'...</h1>
<h4><a href="/artists">Artists</a> - <a href="/songs">Songs</a> - <a href="/genres">Genres</a></h4>

  <form method='post' action='/songs/<%= @song.slug %>'>
    <input type="hidden" value="patch" name="_method">
    <label for='name'>Name:</label>
      <input type='text' name='song[name]' id='Name' value='<%= @song.name %>'/>

      <br></br>

    <label for='Artist Name'>Artist Name:</label>
      <input type='text' name='song[artist]' id='Artist Name' value='<%= @song.artist.name %>'/>

      <br></br>

    <p>Choose a Genre:</p>
      <% @genres.each do |genre| %>
        <label for="genre_<%= genre.id %>">
            <input type='checkbox' value='<%= genre.id %>' name='song[genre_ids][]' id=
            'genre_<%= genre.id %>' <%= 'checked' if @song.genres.include?(genre) %>/><%= genre.name %><br>
        </label>
      <% end %>
      <br>
    <label for='genre_new'>or, Create one:</label>
      <input type='text' name='song[new_genre][name]' id='genre_new'/>

      <br></br>

    <input type='submit' value='Save'/>
  </form>
