<form action="/songs/<%= @song.slug %>" method="POST">

  <label>Name:</label>

  <input type="text" name="Name" value="<%= @song.name %>"<br>

  <p>Artist Name:<input type="text" name="Artist Name" value="<%= @song.artist.name%>"</p>

  <p>Choose Genres:</p>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"<%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <% end %>
  <input type="submit" value="Save">
