<h1>Update Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br></br>

  <input type="text" id="Name" name="Song Name" value="<%=@song.name%>">

  <br></br>

  <label for="artist">Artist Name</label>

  <br></br>

<input type="text" name="Artist Name" id="Artist Name" value="<%=@song.artist.name%>">

  <br></br>

  <label>Select genre(s)</label>

  <br></br>

  <%Genre.all.each do |genre|%>
    <input type="checkbox" value="<%= genre.id %>" name="genres[]" id="<%=genre.name%>" <%= 'checked' if @song.genres.include?(genre) %>>
    <%=genre.name%></input>
    <%end%>

  <br></br>

  <input type="submit" value="Save">

</form>
