<!-- updates the song's artist -->
<!-- renders to the song show page -->
<!-- has a checkbox element on the form for genre-->
<!-- updates the song's genres -->
<!-- renders to the song show page -->
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Update <%= @song.name %> below:</h1>
<form action="/songs/<%=@song.slug%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Name:</label>
  <input type="text" id="name" name="song[name]" value="<%=@song.name%>"><br>

  <label for="artist_name">Artist Name:</label>
  <input type="text" id="artist_name" name="artist[name]" value="<%=@song.artist.name%>"><br>

  <label for="song_genres">Genre(s):</label>
  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
  <% end %>

  <br>

  <input type="submit" value="Save">
</form>
