<h1>Update a Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h3>Name: <%= @song.name %></h3>
  <label>Choose Genre(s):</label>
  <br></br>
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %>
  <% end %>
  <br></br>
  <label>Enter Artist:</label>
  <input type="text" name="artist" id="Artist Name" value="<%= @song.artist.name %>">
  <br></br>
  <input type="submit" value="Save">
</form>
