<h1>You are editing: <a href="/songs/<%= @song.slug %>"><%= @song.name %></a></h1>
<h2>By: <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></h2>
<h2>Genre: <a href="/genres/<%= @genre.slug %>"><%= @genre.name %></a></h2>

<form method="POST" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>NEW INFO:</h2>
  Song:  <input type="text" name="song[name]"  id="Song Name" value="<%= @song.name %>">
  <br></br>
  Artist: <input type="text" name="artist[name]" id="Artist Name" value="<%= @artist.name%>">
  <br></br>
  Genre:
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genre[name]" value="<%= genre.name %>" id="<%= genre.name %>" <%='checked' if @song.genre_ids.include?(genre.id) %>>><%= genre.name %></input>
  <% end %>
  <br></br>
  <input type="submit" value="Save">
</form>
