<
<h1>Edit <%= @song.name %></h1>

<form action = "/songs/<%=@song.slug%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Name</label>
    <input type="text" name="song[name]" id="name" value="<%=@song.name%>"> </br>

    <label for="artist_name">Artist Name</label>
    <input type="text" name="artist[name]" value="<%=@song.artist.name%>" id="artist_name"> </br>
  
    <label for "genre">Genres</label>
    <% Genre.all.each do |genre| %>
        <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"<%='checked' if @song.genres.include?(genre)%>><%=genre.name%>
        <% end %>

        <input type="submit" value="Save">
</form>
