<h1>Update Song</h1>
<form action="/songs" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3><label for="Name">Name: </label><input type="text" name="song[name]" id="Name" value="<%= @song.name %>"></h3>
  <h3><label for="Artist Name">Artist: </label><input type="text" name="artist[name]" id="Artist Name" value="<%= @artist.name %>"></h3>
  <h3>Genre(s):</h3>
  <% @genres.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %>
  <% end %>
  <p><label for="genre">New Genre: </label><input type="text" name="genre[name]" id="genre" value=""></p>
  <br></br>
  <button type="submit" name="Save" value="Save">Save</button>
</form>
