<h1>Edit Song:</h1>
<form action="/songs/<%=@song.slug%>" method = "post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="Name">Name:</label>
    <input type="text" id="Name" name="song[name]" value="<%=@song.name%>"><br>
  <p>Select the Genre:</p>
  <% @genres.each do |g| %>
    <input type="checkbox" name="song[genre_id][]" value="<%=g.id%>" id="<%=g.name%>" <%= 'checked' if @song.genres.include?(g) %>><%=g.name%></input>
  <% end %><br><br>
  <label for="Artist Name">Artist Name:</label>
  <% if @song.artist %>
    <input type="text" id="Artist Name" name="artist[name]" value="<%=@song.artist.name %>"><br><br>
  <% else %>
    <input type="text" id="Artist Name" name="artist[name]"><br><br>
  <% end %>

  <input type="submit" id="Save" value="Save">
</form>
