<h2>Edit Song</h2>

<form method="POST" action="/songs/<%= @song.slug %>">

  <label for="Name">Name:    </label>
  <input type="text" name="Name" value="<%= @song.name %>"><br>

  <label for="Artist Name">Artist:    </label>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>"><br>

  <label for="genres[]">Genre(s)</label>
  <% Genre.all.each do |genre| %>
    <br>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <%= genre.name %>
  <% end %>
  
  <br>
  <label for="new_genre_name">Don't see your genre:    </label>  
  <input type="text" name="new_genre_name" placeholder="New Genre">

  <input type="hidden" name="song_id" value="<%= @song.id %>">

  <input type="submit" value="Save">

</form>