<h1>Edit a Song</h1>

<form method="POST" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="Song Name">Name:</label>
    <input type="text" name="song_name" id="Song Name" value="<%= @song.name %>">
  <br/>
  <br/>
  <label for="artist_name">Artist:</label>
    <input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>">
  <br/>
  <br/>
  <label for="genres">Genres:</label>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genre_ids.include?(genre.id)%> > <%= genre.name %> </input>
  <% end %>
  <br/>
  <br/>
    <input type="submit" name="Save" value="Save" id="Save">
</form>