<h1>Song  - <%=@song.name%></h1>
<h2>Genres</h2>

<ul>
  <%@song.genres.each do |genre|%>
  <li>  <a href="/genres/<%=genre.slug%>"><%=genre.name%></a> </li>
  <%end%>
</ul>

<h2>Artist</h2>
<ul>
  <li>  <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a> </li>
</ul>

<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Pick an existing artist:
  <!-- <input list="artists_names_list" id="artist_name" name="artist_name" />
  <datalist id="artists_names_list">
      <%@artists.each do |artist|%>
          <option value="<%=artist.name%>">
      <%end%>
  </datalist> -->
  <%@artists.each do |artist|%>
      <input type="checkbox" name="artist_name" id="<%=artist.name%>" value="<%=artist.name%>" <%="checked" if @song.artist == artist %>><%=artist.name%></input>
  <%end%>
  <br></br>
  <p>Or create a new artist:</p>
  <p>New Artist's Name <input type="text" name="artist[name]" id="Artist Name"></p>

  Pick and existing genre:
  <%@genres.each do |genre|%>
      <input type="checkbox" name="genre_name" id="<%=genre.name%>" value="<%=genre.name%>"<%="checked" if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  <br></br>
  <p>Or create a new genre:</p>
  <p>New Genre's Name <input type="text" name="genre[name]" id="Genre Name"></p>

  <input type="submit" name="save" value="Save">
</form>
