<h2>Edit Song: <%=@song.name%></h2>

<form method="post" action="/songs/<%=@song.slug%>/edit">
  <label>Name: <input type="text" id="Name" name="song[name]"></label>
  <label>Artist Name: <input type="text" id="Artist Name" name="artist[name]"></label>
  <label>Genre(s): 
    <% @genres.each do |genre| %>
      <input type="checkbox" id="<%=genre.name%>" name="genres[]" value="<%=genre.id%>"
      <%='checked' if @song.genres.include?(genre)%>><%=genre.name%>
    <%end%>
  </label>
  <input type="submit" value="Save">
</form>
