
<h1> Edit Song </h1>

<form action="/songs<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <h1><%= @song.name %></h1>
  <input type="text" name="song[name]" id= "Name">
  <h3>Artist: <%= @song.artist.name %></h3>
  <input type="text" name="artist[name]" id ="Artist Name" value="Enter New Artist Name">
  <h3>Genres: </h3>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"<%='checked' if @song.genres.includes? genre %>>
  <% end %>
  <input type="submit" name="Save" value="Save"
</form>
