<h1> Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Update Artist Name</label>

  <input type="text" name="Artist Name">

  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name%>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name%>
  <%end%>

  <input type="submit" value="Save">
</form>
