<h1>Edit: <%= @song.name %></h1>

<form method="post" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="Song Name">Name:</label>
  <input type="text" value="<%= @song.name %>" id="Song Name" name="song[name]"><br><br>

  <h2>Artist</h2>

  Select Artist:
  <select name="song[artist_id]">
    <% Artist.all.each do |artist| %>
      <option value="<%= artist.id %>" id="<%= artist.name %>" <%='selected' if @song.artist == artist %>><%= artist.name %></option>
    <% end %>
  </select>

  <br><br><br>

  or enter a new Artist:<br><br>
  <label for="Artist Name">Artist name:</label>
  <input type="text" id="Artist Name" name="artist[name]"><br><br>

  <h2>Genres</h2>

  <% Genre.all.each do |genre| %>
    <input type="checkbox" value="<%= genre.id %>" id="<%= genre.name %>" name="song[genre_ids][]" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %><br>
  <% end %>

  <br><br><br>

  or enter a new Genre:<br><br>
  <label for="Genre Name">Genre name:</label>
  <input type="text" id="Genre Name" name="genre[name]"><br><br>

  <input type="submit" value="Save song" id="save">
</form>
