<h1>Update Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Song Name:</label>
  <input type="text" name="Name" id="song_name" value="<%= @song.name %>"><br><br>

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>"><br><br>

  <label>Choose an existing genre:</label><br>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
  <% end %>
  <br>

  <input type="submit" value="Save">
</form>
