<h1>Edit '<%= @song.name %>'...</h1>
<h4><a href="/artists">Artists</a> - <a href="/songs">Songs</a> - <a href="/genres">Genres</a></h4>

  <form method='post' action='/songs/<%= @song.slug %>'>
    <input type="hidden" value="patch" name="_method">
    <label for='name'>Name:</label>
      <input type='text' name='song[name]' id='Name' value='<%= @song.name %>'/>

      <br></br>

    <label for='artist_name'>Artist Name:</label>
      <input type='text' name='song[artist]' id='Artist Name' value='<%= @song.artist.name %>'/>

      <br></br>

    <p>Choose a Genre:</p>
      <% @genres.each do |genre| %>
        <label for="song_genre">
            <input type='checkbox' value='<%= genre.name %>' name='song[genre][]' class='song_genre' <%= 'checked' if @song.genres.include?(genre) %>/>
            <%= genre.name %><br>
        </label>
      <% end %>
      <br>
    <label for='song_genre'>or, Create one:</label>
      <input type='text' name='song[genre][]' class='song_genre'/>

      <br></br>

    <input type='submit' value='Save'/>
  </form>
