<h1>Edit <%=@song.name%>

</h1><form action="/song/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label> Artist Name </label>
  <input type="text" name="Artist Name" value="<%=@song.artist.name%>"> </br>

  <label> Song Name </label>
  <input type="text" name="Name" value="<%=@song.name%>"> </br>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
