<!DOCTYPE HTML>
<html>
<head>
  <title>Update Song</title>
</head>
<body>

<form action="/songs/<%=@song.slug%>" method="post">
  <input id="hidden" type="hiddden" name="_method" value="patch">
  <h1>Edit Song Below</h1>
  <label>Song Name:</label>
  <input type="text" name="Name" id="song_name" value="<%= @song.name %>"></input>

  <br></br>

  <label>Change name of Artist below</label>
  <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>"></input>

  <br></br>



  <label>Choose a genre below</label>
  <% Genre.all.each do |genre| %>
  <li><label><%genre.name%></label>
    <input id="<%= genre.name %>"  name="genres[]" value="<%= genre.id %>" type="checkbox" <%= 'checked' if @song.genres.include?(genre) %>></input>
  </li>
    <%end%>

    <br></br>
    <input type="submit" value="Save" name="Update Song"></input>
  </form>
  </body>
  <html>
