<% if flash.has?(:message) %>
  <p><%= flash[:message] %><p>
<% end %>
<h1>Edit a Song</h1>
<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>Name:<input type="text" name="song_name" value="<%=@song.name%>"></p>
  <p>Artist:<input type="text" name="artist_name" id="Artist Name" value="<%=@song.artist.name%>"></p>
  <p>Genres:<% Genre.all.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"
    <%= 'checked' if @song.genres.include?(genre) %>>
    <%= genre.name %></input>
    <% end %>
  </p>
  <input type="submit" value="Save">
</form>
