<h1>Update the Selected Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch"> 
  <label>Song Name:</label>

  <br>

  <input type="text" name="song[name]" value="<%= @song.name %>">

  <br>
  
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_id]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genre_id == genre.id %>><%= genre.name %></input>
  <% end %>
  <label>New Genre Name:</label>
  <input type="text" name="genre[name]"></input>
<br>
    <br>
    <label>Artist Name:</label>
      <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id="Artist_Name"></input>
    <br>

  <input type="submit" value="Save">
</form>