<form action="/songs" method="POST">
  <label>Name:</label>
  <%=@song.name%>
  <br></br>
  <label>Artist:</label>
  <input  type="text" name="name" id="Artist Name" value="<%=@song.artist.name%>">
  <br></br>
  <label>Genres:</label>
  <%@genres.each do |genre|%>
  <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>" <%='checked' if genre.id == @song.genre_id%>><%=genre.name%>
  <%end%>
  <br></br>
  <input type="submit" value="Save">
</form>
