<h1>Update a Song!</h1>
<form action="/songs/<%= @song.slug %>" method="POST">
  Name<input type="text" name="Name" value="<%= @song.name %>" id="song_name">
  <br><br>
  Enter the Artist Name:<input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>">
  <br><br>
  Please Pick the Genres: <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value='<%=genre.id%>'<%='checked' if @song.genres.include?(genre)%>><%= genre.name %></input>
  <% end %>
  <br><br>
  <input type="submit" name="submit" value="Save">
</form>
