<h1>Edit Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="patch"></input>

  <label>Name:</label>
	<p><input type="text" name="song[name]" id="Name" value="<%=@song.name%>"></input></p>
  <br/>
  <label>Artist Name:</label>
  <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>"></input></p>
  <br/>
  <label>Genres:</label>
  <br/>
  <%Genre.all.each do |genre|%>
    <p><input type="checkbox" name="song[genre_ids][]" id="<%= genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name%></input></p>
  <%end%>
  <br/>
  <input type="submit" value="Save"></input>

</form>
