<h1>Update <%= @song.name %></h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Song Name:</label><br>
  <input type="text" name="song[name]" value="<%=@song.name%>"><br>

  <br></br>

  <h4>Choose an existing genre:</h4>
  <label>Genre</label>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name %>" value="<%= genre.id%>" <%="checked" if @song.genres.include?(genre) %>><%=pet.name%>
  <%end%>

  <br>

  <h4>Create a new Artist</h4>
  <label>Artist</label> <!--song only has one artist -->
  <input type="text" name="artist[name]" value="<%@song.artist.name%>" id="artist_name">
  <input type="submit" value="Update Song">

</form>
