<% if flash.has?(:new_message) %>
  <%= flash[:new_message] %>
<% end %>

<h1>Update Song - <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Update Artist:</h2>
  <label>Choose an existing artist:</label>

  <br></br>

  <%Artist.all.each do |artist|%>
    <input id="<%= artist.id %>" type="checkbox" name="song[artist_id]" value="<%=artist.id%>"><%= artist.name %></input>
  <%end%>

  <br></br>

    <label>and/or, create a new artist:</label>
    <br></br>
    <h4>Artist Name:</h4>
      <input  type="text" name="Artist Name" id="artist_name"></input>

    <br></br>

    <h2>Update Genre:</h2>
    <label>Choose an existing genre:</label>

    <br></br>

    <% Genre.all.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
    <% end %>

    <br></br>

  <input type="submit" value="Save" id="submit">
</form>
