
<h1> Edit a song! </h1>

<form action="/songs/<%=@song.slug%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

  <label> Song Name: </label>
  <br></br>
  <input type='text' name="Name" value="<%=@song.name%>">

  <br></br>

  <label> Song Artist: </label>
  <br></br>
  <input type="text" name="Artist Name" id="Artist Name" value="<%=@song.artist%>">

  <br></br>

  <label> Chose existing Genres </label>
  <br></br>

  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>"><%= genre.name %>
  <%end%>
  <br></br>

  <input type="submit" value="Save" name="submit">


  <br></br>
</form>
