<h1>Update Song</h1>
<form method="POST" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Update genre:</label>

  <br></br>

  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked'if @song.genres.include?(genre) %>><%=genre.name%></input>
<% end %>

  <br></br>

  <label>and/or create a new artist:</label>

  <br></br>

  <label>New Artist Name:</label>

  <input type="text" name="artist[name]" id="Artist Name">

  <input type="submit" value="Save">

</form>
