<form class="" action="/songs/edit" method="post">
  <p>
    Song Name: <input type="text" name="name" value="<%=@song.name%>" id="Name">
  </p>
  <p>
    Genre:<br><br>
    <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre)%> id="<%=genre.name%>"><%=genre.name%></input>
    <%end%>
  </p>
  <p>
    <label>Artist Name:</label>
    <input type="text" id="Artist Name" name="Artist Name" value="<%=@song.artist.name%>" >
  </p>
  <input type="submit"  value="Save">

</form>
