<h1>Edit a Song</h1>
<form class="" action="/songs/<%=@song.slug%>" method="post"> <!-- posts to index -->
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br>

  <input id="<%= @song.name %>" type="text" name="song[name]" value="<%= @song.name %>">

  <br>


  <label>Change artist:</label>

  <br>
  <h8>change from <%= @artist.name %> to</h8>
  <input id="<%= @artist.name %>" type="input" name="artist[name]" value="<%= @artist.name%>">
<!-- changes singular artist -->
  <br>
  <h8>Change genre:</h8>
  <% Genre.all.each do |genre| %>
  <br>
  <input id="<%= genre.name %>" type="checkbox" name="genre_ids[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre)%>><%= genre.name %></input>
  <!-- checked if works if editing a previous has many element -->
  <% end %>
    <br>

    <label>and/or create a new artist:</label>
    <br>
    <label>name:</label>
    <input type="text" name="Artist Name">
    <br>

    <label>and/or create a new genre:</label>
    <br>
    <label>name:</label>
    <input type="text" name="Genre Name">
    <br>
  <!-- rspec spec/features/05_song_form_spec.rb --f-f for quick access-->
  <input type="submit" name="Save" value="Save">
</form>
