<h1>Update Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH"

    <label>Song Name:</label>
    <input type="text" name="song[name]" id="name" value="<%= @song.name %>">
    <br></br>

    <label>Artist Name:</label>
    <input type="text" name="artist[name]" id="artist_name" value=" <@song.artist.name"
    <br></br>

    <label>Choose a Genre:</label>
    <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>
    <% end %>
    <br></br>

    <input type="submit" value="Update Song">
  </form>
