<h1>Edit Song:</h1>

<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h3><label for="name">Name:</label><%= @song.name %></h3>
  <h3><input type="text" name="Name" id="name"></h3>

  <br></br>

  <h4><label for="artist_name">Artist Name:</label><%= @song.artist.name %></h4>
  <h4><input type="text" name="Artist Name" id="artist_name"></h4>

  <br>

  <h4><label>Genres:</label></h4>
  <% Genre.all.each do |genre| %>
  <p><input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>"><%= genre.name %></p>
  <% end %>

  <br></br>

  <p>or create a new Genre:</p>
  <br>
  <h4>Genre Name: <input type="text" name="Genre Name" id="genre_name"></h4>
  <br>

  <input type="submit" value="Save">
</form>
