<form action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

   <label>Name</label>
  <input type="text" name="Name" value="<%= @song.name %>">

   <label>Artist Name</label>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>">


   <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input id="<%= genre.name  %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>>
  <% end %>

   <input type="submit" value="Save">

 </form> 