<form action="/songs/<%=@song.slug%>" method="POST">
  <label>The Song's Artist</label>
  <input type="text" name="Artist Name" id="Artist Name" value="<%=@song.artist.name%>">
  <br></br>

  <input type="text" name="Song Name" id="Song Name" value="<%=@song.name%>">
  <br></br>

  <h3>All Genres</h3>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="<%=genre.name%>" id="<%=genre.name%>" value="<%=genre.name%>">
        <%=genre.name%>
        <%binding.pry%>
    </input>
  <%end%>


  <input type="submit" value="Save">
</form>
