  <h1>Edit Songs</h1>

  <form action="/songs/<%= @song.slug %>" method="post" >
        <input type="hidden" name="_method" value="patch">

<% binding.pry %>
  Song Name <input type="text" name="song[name]" value="<%= @song.name %>">    <label> Song Name </label>

    <br></br>
  Artist Name <input type="text" name="artist[name]" value="<%= @song.artist.name %>">   <label> Artist Name </label>

    <br></br>
   
  
  <% Genre.all.each do |genre| %>
   <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%= "checked" if @song.genres.include?(genre.name)%> > </input>
  <% end %>
   <input type="submit" value="Save">
  </form>
