<form method="POST"action="/songs/<%=song.slug%>">
   <input type="hidden" name="_method" value="PATCH">
<p>Song name:<input type='text'name="Name"value="<%=@song.name%>"></p>
<p>Artist name:<input type='text'name="Artist Name"></p>
<p>Genre:</p>
<%Genre.all.each do |genre|%>
<input type="checkbox"id="<%=genre.name%>" name="genres[]"value="<%=genre.id%>"<%='checked' if @song.genres.include?(genre)%>>
<%end%>
<input type="submit"value="Save">
</form>
