<h1>Edit <%=@song.name %></h1>
 <form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="song_name">Song Name: <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>"></label>
  <br></br>
  <label for="artist_name">Artist Name: <input type="text" name="artist[name]" id="artist_name" value="<%= @song.artist.name %>"></label>
  <br></br>
  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre)%>>
  <% end %>
   <br></br>
  <input type="submit" value="Save">
 </form>
