<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit a Song: <%= @song.name %></h1>

<form method="post" action="/songs/<%= @song.slug %>">

<input type="hidden" name="_method" value="patch">

  <label>Name:</label>
  <input type="text" name="song_name" value="<%= @song.name %>">

  <label>Artist Name</label>
  <input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>">

  <p>Genres: <% Genre.all.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %><%= genre.name %></input>
    <%= genre.name %></input>
    <% end %>
  </p>

    <input type="submit" value="Save">
  
</form>