<h1>Edit a Song</h1>
<form class="" action="/songs/<%=@song.slug%>" method="post"> <!-- posts to index -->
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br>

  <input type="text" name="song[name]" value="Song Name" id="Name">

  <br>


  <label>Change artist:</label>

  <br>
  <input id="<%= @artist.name %>" type="text" name="artists[name]" value="<%= @artist.name %>">
  <!--<%= 'checked' if @song.artist == artist %> add this to ^ then it breaks but its needed for the patch-->
<!-- changes singular artist -->
  <br>
  <label>Change genre:</label>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[name]" value="<%= genre.name %>">
  <!--<%= 'checked' if @song.genres.include?(genre)%> add this to ^ then it breaks but its needed for the patch-->
  <label><%= genre.name %></label>
  <% end %>
    <br>

    <label>and/or create a new artist:</label>
    <br>
    <label>name:</label>
    <input type="text" name="song[artist][name][]" value="<%=@song.artist.name%>" id="Artist Name">
    <br>

  <!-- rspec spec/features/05_song_form_spec.rb --f-f for quick access-->
  <input type="submit" name="Save" value="Save">
</form>
