<h1>Edit song:</h1>
 <form action="/songs/<%=@song.slug%>" method="post">
   <label> Song Name: </label>
   <input type="text" name="song[name]" id="Name" value="<%=@song.name%>">
   <br></br>
   <label>Select genre(s):</label>
   <%Genre.all.each do |genre|%>
   <input id="<%=genre.name%>" type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>"><%='checked' if @song.genres.include?(genre)%><%genre.name%></input>
   <%end%>
   <label>Artist: </label>
   <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>">
   <br></br>
   <p><input type="submit" value="Save"></p>
 </form>
