
<h2> <%= @song.name %> </h2>
<form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

<label for="name">Name</label>
  <input type="text" name="song[name]" id="name" value="<%= @song.name %>">


<label for="artist_name">Artist Name</label>
  <input id="artist_name" type="text" name="artist[name]" value="<%= @song.artist.name %>">


  <br></br>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Save">

</form>
