<h1>Edit the Song</h1>
<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="song_name">Song Name:</label>
  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>">
  <br><br>
  <label for="artist_name">Artist Name:</label>
  <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>">

  <h2>Genres:</h2>
  <% Genre.all.each do |genre| %>
    <label for="genre_name"><%= genre.name %></label>
    <input id="<%= genre.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %> >
  <% end %>

  <input type="submit" value="Create">
</form>
