<h4>Edit A Song</h4>
<% #binding.pry %>
<%= @sluggish.name %>
<form action="/songs/<%=@sluggish.slug%>" method="post">
  <input type="text" name="Name" value="<%= @sluggish.name %>">
  <%= @sluggish.artist.name %>
  <input type="text" name="Artist Name" value="<%=@sluggish.artist.name%>">
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>
<button type="submit" name="Save" value="submit">Save</button>
</form>
