<h2>Song:</h2>
<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="text" id ="Name" name="song_name"  value="<%=@song.name%>">
  <h2>Artist:</h2>
  <input type="text" id="Artist Name" name="artist_name" value="<%=@song.artist.name%>">
  <h2>Genres:</h2>
    <%Genre.all.each do |genre|%>
      <input type="checkbox" id="<%=genre.name%>" name="genres[]" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre)%>>
      <%=genre.name%>
    <%end%>
    <br></br>
  <input type='submit' value='Save'>
</form>
