<h1>Update Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Song Name:</label>
  <input type="text" name="Name" value="<%= @song.name %>">

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>">

  <label>Genres:</label>
  <% Genre.all.each do |genre|%>
     <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre.name) %>>
  <% end %>

  <input type="submit" value="Update">
</form>
