<h1>Update Song</h1>

<h2>Edits for "<%= @song.name %>"</h2>

<form method="POST" action="/songs/<%= @song.slug %>">
<input id="hidden" type="hidden" name="_method" value="patch">

<label for="">Song Name: </label>
<input type="text" name="song[name]" id="Name" value="<%= @song.name %>"><br><br>
<label for="">By Artist: </label>
<input type="text" name="song[artist][name]" id="Artist Name" value="<%= @song.artist.name %>">

<h2>Genres</h2>

<% Genre.all.each do |genre| %>
  <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%= 'checked' if
  @song.genres.include?(genre) %>><%= genre.name %><br>
<% end %>


<br><br>
<input type="submit" value="Save">
</form>
