<form action="/songs/<%=@song.slug%>" method="post">
	<input type="hidden" name="_method" value="PATCH">
  	<br></br>
  	<label>Name</label>
	<input type="text" name="Name" id="Name">
	<br></br>
	<label>Genre</label>
  	<% Genre.all.each do |genre|%>
  		<%=genre.name%>
	    <input type="checkbox" name="genre[]" value="<%=genre.name%>" id="<%=genre.name%>">
	    	<%=genre.name%>
	    </input>
	<%end%>
	<br></br>
  	<label>Artist Name</label>
	<input type="text" name="Artist Name" id="Artist Name">
	<br></br>
	<input type="submit" value="Save">
</form>