<h1>Update Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Song name:</label>
  <br></br>
  <input type="text" name="song[name]" id="Name" value="<%=@song.name%>">
  <br></br>
  <label>Choose an existing genre:</label>
  <br></br>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  <br></br>
  <label>Artist name:</label>
  <br></br>
  <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>">
  <br></br>
  <input type="submit" value="Save">
</form>
