<h1>Update Song:</h1>
<h3>Song:</h3>
<form action="/songs/<%=@song.slug%>" method="post">
  <p>
  <label for="Name">Song Name:</label>
  <input type="text" name="Name" id="Name" value="<%=@song.name%>">
  </p>

<h3>Genre(s):</h3>
  <% @genres.each do |genre| %>

  <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre)%>><%=genre.name%></input>

  <% end %>

<h3>Artist:</h3>
  <p>
  <label for="Artist Name">Artist Name:</label>
  <input type="text" name="Artist Name" id="Artist Name">
  </p>

  <input type="submit" name="Save" value="Save">
</form>
