<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Update your new song!</h1>
    <form class="" action="/songs/<%=@song.slug%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="song_name">Name:</label>
      <input type="text" name="Name" id="song_name" value="<%=@song.name%>">
      <br></br>
      <% Genre.all.each do |genre| %>
      <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
      <% end %>
      <br></br>
      <label for="artist_name">Artist:</label>
      <input type="text" name="Artist Name" id="artist_name" value="<%=@song.artist.name%>">
      <input type="submit" name="submit" value="Save">
    </form>
  </body>
</html>
