<h1>Update Songs</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <label>Song Name:</label>
  <input type="text" name="Song Name" id=song_name value="<%=@song.name%>"> <br>
  
  <label>Artist Name:</label>
  <input type="text" name="Artist Name" id=artist_name value="<%=@song.artist.name%>"> <br>
  
  <label>Genres:</label> <br>
  <%@genres.each do|genre|%>
    <label>
      <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%=genre.id%>">
      <%=genre.name%>
    </label>
  <%end%>
  
  <input type="submit" value="Save">
</form>