



<h2> Update a Song: <h2>

<form action="/songs/<%= @song.slug %>/edit" method="post" >
  <h4><label>Name: </label></h4>
    <input type="text" name="song[name]" value="<%= @song.name %>" id="Song Name"></input>


  <h4><label>Artist Name:</label></h4>
    <input type="text" value="<%= @song.artist.name %>" name="artist[name]" id="Artist Name"></input>

<h4>Song Genre: </h4>
    <h5><% Genre.all.each do |genre| %>

    <input value="<%= genre.id %>" id="<%= genre.name %>" name="song[genres][]" type="checkbox" <%= 'checked' if @song.genre %>><%= genre.name %></input>

    <% end %><h5>
  

  <input type="submit" value="Update Song" id="Save"></input>


</form>



