<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input type="text" name="Name" id="song[name]" value="<%= @song.name %>">

  <br></br>

  <label for="artist_name">Artist Name</label>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>" id="artist[name]">

    <br></br>

    Genres<br>
  <% @genres.each do |genre| %>
  <label><%=genre.name%>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="genre.name %>" <%='checked' if @song.genres.include?(genre) %>><br>
</label>
  <% end %>

    <br></br>

  <input type="submit" value="Save">
</form>
