<h1>Update Song:</h1>

<form action='/songs/<%=@song.slug%>' method='POST'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
    <h3>Song Name:<input type='text' name='song[name]' id='Name' value='<%=@song.name%>' placeholder='<%=@song.name%>'></input></h3>
    <h3>Artist Name:</h3>
        <%@artists.each do |artist|%>
        <input type="radio" name="song[artist_id]" id="<%= artist.id%>" value="<%=artist.id%>" <%='checked' if @song.artist == artist %>><%=artist.name%></input>
        <%end%>
        <p>Or Enter a New Artist: <input type='text' name='artist[name]' id='Artist Name' ></input></p>

    <h3>Genres: </h3>
        <% @genres.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genre[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
        <% end %>
        <br></br>
    <input type='submit' value='Save'>
    </form>
