<h1>Edit <%= @song.name %></h1>

<form action='/songs/<%= @song.slug %>' method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input type='text' name='artist[name]' value='<%=@song.artist.name %>' id="artist_id">

  <% @genre.all.each do |genre| %>
  <label><%= genre.name %></label>
  <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>>
  <% end %>
  <input type="submit" action="Save">
</form>
