<H1>Edit <%= @song.name %></H1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Song Name:</label>
  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>">
  <br></br>

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>">
  <br></br>

  <label>Choose a Genre:</label>
  <br></br>
  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
  <% end %>
  <br></br>
  <input type="submit" value="Save">
</form>
