<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a song</title>
  </head>
  <body>
    <h1>Edit song</h1>

    <form class="form" action="/songs/<%=@song.slug%>" method="post">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <input type="text" id="Name" name="song[name]" value="<%=@song.name%>">
      <br></br>
      Existing Genre:
      <%@genres.each do |genre|%>
        <br><input type="checkbox" id="<%=genre.name%>" name="song[genre_ids][]" value="<%=genre.id.to_i%>" <%='checked' if @song.genres.include?(genre)%>><%=genre.name%>
      <%end%>
      <br></br>
      Or create a new genre:
      <br>Name: <input type="text" id="Genre Name" name="genre[name]">
      <br></br>
      Existing Artist:
      <%@artists.each do |artist|%>
        <br><input type="checkbox" id="<%=artist.name%>" name="song[artist_id]" value="<%=artist.id.to_i%>" <%='checked' if @song.artist == artist%>><%=artist.name%>
      <%end%>
      <br></br>
      Or create a new artist:
      <br>Name: <input type="text" id="Artist Name" name="artist[name]">
      <br></br>
      <input type="submit" value="Save">
    </form>
  </body>
</html>