<h1>Update Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <label>Name:</label>
  
  <br></br>
  
  <input id= "Name" type="text" name="song[name]" value="<%=@song.name%>">
  
  <br></br>
  
  <label>Choose an existing genre:</label>
 
  <br></br>
 
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"> <%='checked' if @song.genres == genre %>><%=genre.name%></input>
  <% end %>
 
  <br></br>
 
    <label>Enter Name of Artist:</label>
    <br></br>
    <label>name:</label>
      <input id="Artist Name" type="text" name="artist[name]" value="<%=@song.artist.name%>"></input>
    <br></br>
  <input type="submit" value="Save">
</form>