<h1>Update Songs</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <label>Song Name:</label><br>
  <input type="text" name="Name"><br>

  <br></br>

  <h4>Choose an existing genre:</h4>
  <label>Genre</label>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name %>" value="<%= genre.id%>" <%="checked" if @song.genres.include?(genre) %>><%=pet.name%>
  <%end%>

  <br>

  <h4>Create a new Artist</h4>
  <label>Artist</label> <!--song only has one artist -->
  <input type="text" name="Artist Name"><br>
  <input type="submit" value="Update Song">

</form>
