<h1>Edit Song</h1>

Name: <%= @song.name %><br>
Artist: <%= @song.artist.name %><br>
Genres: <% @song.genres.each do |genre| %>
<%= genre.name %>
<% end %>

<br></br>

<form method="post" action="/songs/<%= @song.slug %>">
New Name: <input type="text" name="song[name]" value="<%= @song.name %>" id="name"><br>
New Artist: <input type="text" name="song[artist]" value="<%= @song.artist.name %>" id="Artist Name"><br>
Genres: <% Genre.all.each do |genre| %>
  <input type="checkbox" name="song[genres][]" value="<%= genre.id %>" id="<%= genre.name %>">
    <%= genre.name %>
  </input>
<% end %>

<br>

and/or New Genre: <input type="text" name="genre[name]" id="genre"><br></br>

<input type="submit" value="Save">
</form>
