
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit Song</h1>
<<<<<<< HEAD

<form method="POST" action= "/songs/<%= @song.slug %>">

    <h3>Name:<input type="text" id="Name" name="Name" value="<%= @song.name %>"></h3><br>

      <h3>Artist:<input type="text" id="Artist Name" name="Artist_Name" value="<%= @song.artist.name %>"></h3><br>
=======
<form method="POST" action= "/songs/<%@song.id%>">
    <h3>Name:<input type="text" id="Name" name="Name" value="<%= @song.name %>"></h3><br>

      <h3>Artist:<input type="text" id="Artist Name" name="Artist Name" value="<%= @song.artist.name %>"></h3><br>
>>>>>>> 288c0f4efd0e07c8db669b3e900e0cca9c9fa950
      <h3> Genres:</h3><br>
      <% @genres.all.each do |genre| %>

        <input type="checkbox" name="genres[]" id="<%= genre.name%>" value="<%= genre.id %>"><%= genre.name %></input><br>
      <% end %>
  <br>

  <input type="submit" value="Save">
</form>
