<h1>Create a new Song:</h1>

<form action = '/songs/<%= @song.slug%>' method = "post">
  
  <input type="hidden" id="hidden" name="_method" value = "patch">
  
  <label for="Song_name">Name</label>
  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>">
  
  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" id="artist_name" value="<%= @song.artist.name %>">
  
  <label>Genre</label>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.name%>" <%= "checked" if @song.song_genres.include?(genre) %>>
  <% end %>
  
  <input type="submit" value="Save">

</form> 