<h1>Update Song</h1>

<form action="/songs/<%=@song.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">  
  <label>Song Name:</label>
  <br>
  <input type="text" name="song[name]" id="song_name" value="<%=@song.name%>">
  <br>

  
 
  <label>by an existing artist:</label>
  <br>
 
  <% Artist.all.each do |artist|%>
    <input type="radio" name="song[artist_id]" id="<%= artist.id%>" value="<%=artist.id%>" <%='checked' if @song.artist.name == artist.name %>><%=artist.name%></input>
  <%end%>
 
  <br>
 
  <label>or by a new artist:</label>
  <br>
  <label>name:</label>
    <input  type="text" name="artist[name]" id="artist_name"></input>
  <br>

  <label>select the genres for this song:</label>
  <br>
  <% Genre.all.each do |genre|%>
    <input type="checkbox" name="song[song_genre_ids][]" id="<%= song_genre.id%>" value="<%=song_genre.id%>" <%='checked' if @song.genres.include? genre %>><%=genre.name%></input>
  <%end%>
  <br> 
  <label>and/or create a new genre:</label>
  <br>
  <label>Genre name:</label>
    <input  type="text" name="genre[name]" id="genre_name"></input>
  <br>
  <input type="submit" value="Update Song">
</form>

