<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Edit <%= @song.name %></h1>



<form action='/songs/<%= @song.slug %>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label for="song_name">Name</label>
    <input id="name" type="text" name="song[name]" value="<%=@song.name%>">
    <br>

    <label for="artist_name">Artist Name</label>
    <input id="artist_name" type="text" name="artist[name]" value="<%=@song.artist.name%>">
    <br>

    <% Genre.all.each do |genre| %>
      <label><%= genre.name %></label>
      <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
    <% end %>

    <input type="submit" value="Save">
</form>
