<h1>Edit a New Song</h1>

<form action="/songs/<%= @song.slug %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch"></input>

  <label>Song Name:</label><br><br>

  <input type="text" id="Name" name="song[name]" value="<%= @song.name%>"><br><br>

  <label>Artist Name:</label><br><br>

  <input type="text" id="Artist Name" name="artist[name]" value="<%= @song.artist.name%>"><br><br>

  <label>Please select a genre:</label><br><br>

  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre)%>>
  <%= genre.name %></input><br><br>
  <% end %>


  <input type="submit" name="submit" value="Save">


</form>
