<form method="POST" action="/songs/<%=@song.slug%>">
  <input type="hidden" id="hidden" name="_method" value="PATCH" />
  <input type="text" name="name" id="Name" value="<%=@song.name%>" />
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genre[]" value="<%=genre.id%>" id="<%=genre.name%>" <%="checked" if @song.genre.include?(genre)%>><%=genre.name%></input>
  <%end%>
  <input type="text" name="artist" id="Artist Name" value="<%=@song.artist.name%>"/>
  <input type="submit" value="Save" id="Save" />

</form>
