<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Song</title>
  </head>
  <h1>Update Song</h1>

  <form class="" action="/songs/<%=@song.slug%>" method="post">

    <label for="song_name">Name:</label>
    <input type="text" name="name" id="song_name" value="<%= @song.name%>">

    <br></br>

    <label>Select Genre:</label>

    <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
    <% end %>

    <br></br>

    <label>Update Artist:</label>

    <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>">

    <br></br>

    <button type="submit" name="Save">Save</button>
  </form>

</html>
