<h1>Edit Song</h1>

<form method="post" action="/songs/<%= @song.slug %>">
<p><label>Song Name: </label> <input type="text" name="song[name]" id="Name" value="<%= @song.name %>"></p>
<p>
  <label>Artist: </label>  <br>
  <% @artists.each do |artist| %>
  <input type="checkbox" name="song[artist_id]" id="<%= artist.name %>" value="<%= artist.id %>" <%='checked' if @song.artist == artist %>><%= artist.name %><br/>
  <% end %>
  or create a new artist: <input type="text" name="artist_name" id="Artist Name">
</p>
<p>
  <label>Genres: </label>  <br>
  <% @genres.each do |genre| %>
  <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %><br/>
  <% end %>
  or create a new genre: <input type="text" name="genre_name" id="Genre Name">
</p>
<p><input type="submit" value="Save"></p>