<h1><%=@song.name%> Edit Screen</h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

    <label>Artist Name:</label>
    <input type="text" name="Artist Name" value="<%=@song.artist.name%>">

    <br></br>

    <label>Song Name:</label>
    <input type="text" name="Name" value="<%=@song.artist.name%>" id="Name">
    <br></br>

    <label>Genre(s):</label>
    <%Genre.all.each do |genre|%>
      <%=genre.name%><input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genres.include?(genre) %>>
    <%end%>

    <input type="submit" value="Save">
</form>
