<form action="/songs/<%=@song.slug%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label>Name</label>
    <input type="text" name="Name" value="<% @song.name %>">

    <label>Artist</label>
    <input type="text" name="Artist Name" id="Artist Name">

    <label>Genre</label>
    <% @genres.each do |genre| %>
      <h3><%=genre.name%><h3>
      <input type="checkbox" name="genres[]" id="<%= genre.name %>"
      value="<%= genre.id %>"><%= genre.name %></input>
    <% end %>

    <input id="Save" type="submit">
</form>
