<form action="/songs/<%=@song.slug%>" method="post">
  Artist: <input type="text" name="artist[name]" value="<%=@song.artist.name%>" id="Artist Name"><br>
  Song: <input type="text" name="song[name]" id="Name" value="<%=@song.name%>"><br>
  Genre(s):
  <%Genre.all.each do |genre|%>
      <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre)%>  ><label for="<%=genre.name%>"><%=genre.name%></label>
      <%end%>
      <input type="submit" name="save" value="Save">
</form>
