

<h1>Edit: <%=@song.name%></h1>

<form method="POST" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  
  <br>
  <label>Artist Name:</label>
  <input type="text" name="song[artist]" id="artist_name" value="<%=@song.artist.name%>">
  <br>
  
  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <p><input type="checkbox" name="song[genres][]" id="<%=genre.name%>"  value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></p>
  <% end %>
  
  <br>
    <input type="submit" value="Update Song">
    
</form>

