

<h1>Edit: <%=@song.name%></h1>

<form method="POST" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  
  <br>
  <label>Artist Name:</label>
  <input type="text" name="artist[name]" id="artist_name" value="<%=@song.artist.name%>">
  <br>
  
  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <p><input type="checkbox" name="genre[name]" id="<%=genre.id%>"  value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%= genre.name %></p>
  <% end %>
  
  <br>
  
    <input type="submit" value="Update Song">
    
</form>






    <!--changing a song's artist-->
    <!--  updates the song's artist (FAILED - 3)-->
    <!--  renders to the song show page (FAILED - 4)-->
    <!--changing a song's genres-->
    <!--  has a checkbox element on the form (FAILED - 5)-->
    <!--  updates the song's genres (FAILED - 6)-->
    <!--  renders to the song show page (FAILED - 7)-->