<h1>Edit Song</h1>

<form action="/songs/<% @song.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch"></input>

    <label>Song Name:</label>
    <input type="text" name="song[name]" id="song_name"  value="<%= @song.name %>">

    <label>Artist Name:</label>
    <input type="text" name="artist[name]" id="artist_name"  value="<%= @song.artist.name %>" ></br></br>

    <% Genre.all.each do |genre| %>
        <input type="checkbox" name="genres[]" id="<%= genre.name %>"  value="<%= genre.id %>" <%='checked' if @song.genre == song.genre%>>
    <% end%></br></br>
    <input type="submit" value="Save" />
</form>
