<form  action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Song Name:</label>
  <input type="text" name="name" value="<%= @song.name %>">
  <br><br>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" <%= 'checked' if @song.genres.include?(genre) %> value="<%= genre.id %>">
  <% end %>

  <br><br>

  <label>Artist Name:</label>
  <input type="text" name="artist_name" value="<%= @song.artist.name %>" id="Artist Name">
  <br><br>
  <input type="submit" value="Save">
</form>