<h1>Edit <%= @song.name %></h1>

<form method="post" action="/songs/<%= @song.slug %>">
  <input type="hidden" name="_method" value="PATCH">
  <label for="Artist Name">Artist Name</label>
  <br>
  <input type="text" name="artist[name]" id="Artist Name" value="<%= @song.artist.name %>"></input>
  <br>

  <label>Song Name</label>
  <br>
  <input type="text" name="song[name]" id="<%= @song.id %>" value="<%= @song.name %>"></input>
  <br>

  <label>Song Genres</label>
  <br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genre[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>
  <br>

  <input type="submit" value="Save">
</form>
