<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Song</title>
</head>
<body>
  <h1>Edit <%= @song.name %></h1>
  <form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
  <label>Artist Name:</label>
  <br></br>
  <input type="text" name="song[artist]" id="Artist Name" value="<%=@song.artist.name%>">
 
  <br></br>
 
  <label>Genres:</label>
 
  <br></br>
 
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]" id="<%=genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input><br>
  <%end%>
 
  <br>
  <input type="submit" value="Save">
</form>
</body>
</html>