<h1>Editing <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
    <label>Name:</label><input type="text" name="song[name]" id="Name" value="<%= @song.name %>">
  </p>
  <p>
    <label>Artist Name:</label><input type="text" name="artist[name]" id="Artist Name" value="<%= @song.artist.name %>">
  </p>
  <p>
    Select genres:
  </p>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>", id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre)%>><%= genre.name %></input><br />
  <% end %>

  <input type="submit" id="Save" value="Save">

</form>
