<h1> Update the Song </h1>

<form action = "/songs/<%= @song.slug %>" method = "POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<label> Name: 
<input type = "text" name = "Name" id = "song_name" value = "<%= @song.name %>"> 
</label><br>

<label> Artist: 
<input type = "text" name = "Artist Name" id = "artist_name" value = "<%= @song.artist.name %>">
</label><br>

</label> Genres: 
<% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>> <%= genre.name %>
      <% end %>
  </label><br>

<input type = submit value = "Save" >
