<h1> Update song </h1>
<form action='/songs/<%=@song.slug %>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <br><label>Song Name:
    <input type="text" name="Name" id="song_name" value="<%=@song.name%>"></label></br>
  <br></br>

  <label>Update Artist Name: <input type="text" name="Artist Name" id="artist_name" value="<%=@song.artist.name%>"></label></h1>
  <br></br>
  <label>update existing genres:</label>
  <% Genre.all.each do |genre| %>
  <% if genre.name %>
  <br><input id="<%=genre.name%>" name="genres[]" value="<%=genre.id%>" type="checkbox" <%='checked' if @song.genres.include?(genre) %>>
  </br>
    <% end %>
  <% end %>
  <br></br><input type="submit" value="Save">
</form>
