<% if flash.has?(:message) %>
<%= flash[:message] %>
 <% end %>

<form method="post" action="/songs/<%= @song.slug %>">
<input id="hidden" type="hidden" name="_method" value="patch">
<h1>Name <input id="Name" name="Name" type="text"></h1>
<h1>Artist Name <input id="Artist Name" name="Artist Name" type="text"></h1>
<h2>Check All that Apply:</h2>
<% @genres.each do |genre| %>
<%= genre.name.upcase %>
<input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= "checked" if @song.genres.include?(genre) %>>
<% end %>
<h1><button name="Save" type="submit">Save</button></h1>
</form>
