<h1>Update your song below</h1>

<form action="/songs/<%= @song.slug%>" method="POST">
  
  <label>Artist Name</label>

  <br></br>

  <input type="text" name="artist[name]" id="Artist Name" value="<%= @song.artist.name%>">

  <br></br>
  <label>Song Name</label>
  
  <br></br>

  <input type="text" name="song[name]" id="<%= @song.name%>">

  <br></br>

  <label>Genres</label>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name %>" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
    <%end%>

  <br></br>
  <input type="submit" value="Save">
</form>