<h3>Edit the followng song:</h3>
    <br>

<form action='/songs/<%=@song.slug%>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <lable>Name:</label>
    <input type='text' name='Name' value='<%=@song.name%>' id='Name'>
        <br><br>

    <label>Artist Name</label>
      <input type='text' name='Artist Name' value='<%=@song.artist.name%>' id="Artist Name">
      <br><br>

    <label>Genres</label>
    <br>
      <% Genre.all.each do |genre|%>
        <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"
          <%='checked' if @song.genres.include?(genre) %>> <%=genre.name%>
        </input>
      <%end%>
        <br><br>
      <label>and/or, create a new genre:</label>
      <br>
      <label>Genre:</label>
        <input type="text" name="genre[name]" id="genre"></input>
      <br>
      <br><br>
  <input type="submit" value="Save">
</form>
