<h1>Edit song: </h1>
<form action="/songs/<%=@song.slug%>" method="post">
  Name: <%=@song.name%>
  <br></br>
  <label>Genres: </label></br>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genres.include?(genre)%>><%=genre.name%></input></br>
  <%end%>
  <label>Update Artist: </label>
  <br></br>
    <input type="text" name="artist[name]" id="Artist Name">
  <br></br>
  <input type="submit" value="Save">
</form>
