<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <label for="Artist Name">Artist: </label>
    <input type="text" name="Artist Name" value="<%= @song.artist.name %>">
  </p>

  <p>
    <label for="Name">Name: </label>
    <input type="text" name="Name" value="<%= @song.name %>">
  </p>

  <p>Genres:</p>
  <% @genres.each do |genre| %><p>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>"
      value="<%= genre.id %>"
      <%= 'checked' if Genre.all.map(&:id).find { |id| id == genre.id } %>>
    <label for="<%= genre.name %>"><%= genre.name %></label>
  </p><% end %>

  <input type="submit" value="Save">
</form>
