<h1>Edit <%=@song.name%>:</h1>
<br></br>
<form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for='name'>Name</label>
  <input type="text" name="song[name]" id="name" value="<%= @song.name %>">

  <label for='artist_name'>Artist Name</label>
  <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id="artist_name">
  <br></br>

  <p>Choose Existing Genre:</p>
  <br></br>

  <%Genre.all.each do |genre|%>
    <ul>
      <li><label><%=genre.name%></label><input type="checkbox" name="song[genre_ids][]" id="<%=genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre)%>><%=genre.name%></input></li>
      <br></br>
    </ul>
  <%end%>

  <input type="submit" value="Save">
</form>
