<h1>Update Song</h1>
 
<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  
  <label>Song Name:</label>
  <input type="text" name="song[name]" value="<%=@song.name%>">
  <br></br>

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" value="<%=@song.artist.name%>"></input>
  <br></br>
 
  <label>Choose genre(s)</label>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genres][]" id="<%=genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  <br></br>

  <input type="submit" value="Save">
</form>