<h1>Edit <%=@song.name%></h1>

<form action="/songs/<%= @song.slug %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="artist_name">Artist Name:</label>
  <input type="text" id="artist_name" name="artist[name]" value="<%=@song.artist.name%>"></input>

  <br></br>

  <label for="name">Name:</label><br>
  <input type="text" id="name" name="song[name]" value="<%=@song.name%>"></input>

  <br></br>

    <%Genre.all.each do |genre|%>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"<%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
    <%end%>

  <br>/</br>

  <input type="submit" value="Save">
</form>
