
<% unless locals.empty? %>
  <%= message %>
<% end %>

<!DOCTYPE html>
<html>
<head>
<title>Edit Song</title>
</head>
<body>



<h1><%=@song.name%></h1>
<h4><a href="../artists/<%=@artist.slug%>"><%=@artist.name%></a></h4>
<h4><a href="../genres/<%=@genre.slug%>"><%=@genre.name%></a></h4>


<form action="/songs/<%=@song.slug%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  
  <br></br>
  
  <input type="text" name="song[name]" value="<%=@song.name%>" id="Name">
  
  <br></br>
  <% @artists.each do |artist|%>
    <input type="checkbox" name="song[artist_id][]" value="<%=artist.id%>" id="<%artist.name%>" <%='checked' if @song.artist == artist %>><%=artist.name%></input><br>
  <%end%>

  <label>and/or, create a new owner:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="artist_name"  id="Artist Name"></input>
  <br></br>

  <br></br>
  <% @genres.each do |genre|%>
    <input type="checkbox" name="song[genre_id][]"  value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input><br>
  <%end%>

  <label>and/or, create a new owner:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="genre_name"></input>
  <br></br>

  <input type="submit" value="Save">
</form>

</body>
</html>
