<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Song</title>
  </head>
  <body>
    <h1>Edit Song</h1>

    <form action="/songs/<%= @song.slug %>" method="post">

      <label>Song Name: </label><br>

      <input id="Name" type="text" name="song[name]" value="<%= @song.name %>">

      <br></br>

      <label>Song Artist: </label><br></br>

      <% @artists.sort_by {|a| a.name.downcase}.each do |artist_obj| %>
      <!-- make sure checked if there -->

        <input id="<%= artist_obj.name %>" type="radio" name="song[artist_id]" value="<%= artist_obj.id %>" <%= 'checked' if @song.artist == artist_obj %>><%= artist_obj.name %></input><br>

      <% end %>

      <label>or create an Artist: </label><br>
      <input id="Artist Name" type="text" name="artist[name]"><br></br>

      <label>Song Genres: </label><br></br>

      <% @genres.sort_by {|g| g.name.downcase}.each do |genre_obj| %>

        <input id="<%= genre_obj.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre_obj.id %>" <%= 'checked' if @song.genres.include?(genre_obj)%>><%= genre_obj.name %></input><br>

      <% end %>

      <label>or create a Genre: </label><br>
      <input id="Genre Name" type="text" name="genre[name]"><br></br>

      <input id="hidden" type="hidden" name="_method" value="patch">

      <input type="submit" value="Save Song!">


    </form>

  </body>
</html>
