<h4>Song: <%=@song.name%></h4>

<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" value="<%=@song.artist.name%>" id="artist_name">
  <br></br>

  <p>Genres: </p>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>"
    id="<%=genre.name%>"<%='checked' if @song.genres.include?(genre)%>><%=genre.name%></input>
  <%end%>
  <br></br>

  <input type="submit" value="Save">

</form>
