<h2>Edit <%= @song.name %></h2>

<form action="/songs/<%= @song.slug %>" method="post">
<input type="hidden" name="_method" value="patch">
  <p><label>Song:
     <input type="text" name="Name" value="<%= @song.name %>"></label></p>

  <p><label>Artist:
     <input type="text" name="Artist Name" value="<%= @song.artist.name%>"></label></p>

  <p><strong>Choose genres</strong>
    <% Genre.all.each do |genre| %>
     <input type="checkbox" id="<%= genre.name %>"
            name="genre_ids[]" value"<%=genre.id%>"
            <%= "checked" if @song.genres.include?(genre) %>><%= genre.name %>
    <% end %></p>

  <p><strong>and/or create new genre</strong>
     <input type="text" name="Genre Name"></p>

  <input type="submit" value="Save">
</form>