<h1>Edit <% @song.name %> </h1>


<form action="/songs/<%= song.slug %>" method="POST">
	<input type="hidden" name=">method" value="PATCH">
<!-- 
<p>The current song is: 
<%= @song.name %><br>
<%= @song.artist %><br>
<%= @song.genre %><br>
</p> -->

  <label for="name">Name:</label>
 
  	<input 
  		type="text" 
  		name="song[name]" 
  		id="name"
  		value="<% @song.name %>"
  		>
  
  	<br></br>
	
	<label for="artist.name">Artist Name:</label>

	<input 
		type="text" 
		name="artist[name]" 
		id="artist_name"
		value="<%= @song.artist.name %>"
		>
	<br></br>

	<label for="genre_name">Genre</label>

	<!-- Make a checkbox for all the existing genres then create new?  -->
	<% Genre.all.each do |genre| %>
		<label><%= genre.name %></label>

		<input 
		type="checkbox" 
		name="song[genre_ids[]" 
		id="<%= genre.name %>"
		value="<%= genre.id %>" 
		<%='checked' if @song.genres.include?(genre) %>>
		<% end %>
	
	<br></br>
 

  	<input type="submit" value="Create New Song">

</form>