<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="name"> Name: </label>
    <input type="text" name="song[name]" id="name" value="<%= @song.name %>"><br>

    <label for="artist_name"> Artist Name: </label>
    <input type="text" name="artist[name]" id="artist_name" value="<%= @song.artist.name %>"><br>

    <% Genre.all.each do |genre| %>
        <label><%= genre.name%></label>
        <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>>
    <% end %><br>

    <input type="submit" value="Save Changes">
</form>