<h1>Editing <%= @song.name %></h1>
<form class="" action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name:</p><input type="text" name="song[name]" value="<%= @song.name %>" id="Name">
  <p>Genres:</p>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <% end %>
  <p>Artist:</p>
  <input id="Artist Name" type="text" name="song[artist]" value="<%= @song.artist.name %>">
  <input type="submit" name="" value="Save">
</form>
