<h1> Songs </h1>

<%@songs.each.with_index do |song,i|%>
  <b><%=i+1%>. <a href='/songs/<%=song.slug%>'><%=song.name%></a></b> -- <%=song.artist.name%> -- <%=song.genres.first.name%></br></br>
<%end%>