<form action="/songs" method="post">
    <label for="Name">Name: </label>
      <input type="text" name="Name">
    <br></br>
    <label>Choose Artist:</label>
    <br></br>
    <% Artist.all.each do |artist| %>
      <input type="radio" name="artist[name]" id="<%=artist.name%>" value="<%=artist.id%>"><%=artist.name%></input>
    <%end%>
    <label for "Artist Name">Or, create a new artist</label>
      <input type="text" name="Artist Name" id="artist_name"></input>
    <br></br>

    <label>Choose Genre(s):</label>
    <br></br>
    <% Genre.all.each do |genre| %>
      <input type="checkbox" name="song[genre_ids][]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
    <%end%>
    <br></br>

    <label>And/or, create a new genre:</label>
    <br></br>
      <input  type="text" name="genre[name]"></input>
    <br></br>
    <input type="submit" name="submit" value="Create">

  </form>
