<h1>Create New Song</h1>
<form action="/songs" method="post">
  <p>
    <label for="song_name">Song Name: </label>
    <input type="text" id="song_name" name="song[name]">
  </p>
  <p>
    <label>Select Artist:</label>
    <br>
    <% @artists.each do |artist| %>
      <input type="radio" id="artist_<%= artist.id %>" name="song[artist_id]" value="<%= artist.id %>"><%= artist.name %></input>
    <% end %>
  </p>
  <p>
    <label for="artist_name">Other: </label>
    <input type="text" id="Artist Name" name="artist[name]">
  </p>
  <p>
    <label>Select Genre(s):</label>
    <br>
    <% @genres.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="song[genre_ids][]" value="<%= genre.id %>"><%= genre.name %></input>
    <% end %>
  </p>
  <p>
    <label for="genre_name">Other: </label>
    <input type="text" id="genre_name" name="genre[name]">
  </p>
  <p>
    <input type="submit" value="Create">
  </p>
</form>
