<h1>Create a new Song</h1>

<form action="/songs" method="post">
  <label>Song Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="Name">

  <br></br>

  <label>Choose an existing Artist:</label>

  <br></br>

  <%Artist.all.each do |artist| %>
    <input type="radio" name="song[artist_id]" id="Artist Name" value="<%=artist.id%>"><%=artist.name%></input>
  <%end%>

  <br></br>

  <label>Or create a new Artist:</label>

  <br></br>

  <input type="text" name="artist[name]" id="Artist Name">

  <br></br>

  <label>Choose an existing Genre:</label>

  <br></br>

  <%Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%>

  <br></br>

  <label>Or create a new Genre:</label>

  <br></br>

  <input type="text" name="genre[name]" id="genre_name">

  <br></br>

  <input type="submit" value="Create Song">

</form>
