<h1>Create a New Song</h1>

<form action="/songs" method="POST">
  <label>Song Name:</label>

  <br>

  <input type="text" id="Name" name="song[name]">

  <br>
  <label>Existing Genre:</label><br>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_id]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input><br>
  <% end %>

  <br>
    <label>New Genre Name:</label>
      <input type="text" name="genre[name]"></input>
    <br>
  
    <br>
    <label>Artist Name:</label>
      <input type="text" name="artist[name]" id="Artist_Name"></input>
    <br>

  <label>Existing Artist:</label>
  <select>
    <option value=""></option>
    <% @artists.each do |artist| %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>


  <input type="submit" value="Create Song">
</form>