<h1>create a new song</h1>

<form method="post" action="/songs/:slug">
Name: <input type="text" name="name" id="Name">
<br></br>

Select a genre:
<% Genre.all.each do |genre| %>
<label><%= genre.name %></label>
<input type="checkbox" value="<%= genre.name %>" name="genres" id="<%= genre.name %>">
<% end %>
<br></br>

Select an artist:
<% Artist.all.each do |artist| %>
<label><%= artist.name %></label>
<input type="checkbox" value="<%= artist.name %>" name="artist" id="<%= artist.name %>">
<% end %>
<br></br>

Or add a new artist:
<input type="text" name="artist" id="Artist Name">
<br></br>

<input type="submit" value="Create" id="Create">
</form>
