<h1>New Song</h1>

<form method="POST" action="/songs">
<label>Name:</label>
<input type="text" id="Name" name="song[name]" />
<br />
<br />
<label>Artist:</label>
<input type="text" id="Artist Name" name="artist[name]" />

<% @artists.each do |artist| %>
  <br />
  <input type="checkbox" name="artist[name]" id="<%= artist.name %>" value="<%= artist.name %>"><%= artist.name %>
<% end %>

<br />
<p>
  Genres:
</p>

<% @genres.each do |genre| %>
  <br />
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.name %>"><%= genre.name %>
<% end %>

<br />
<input type="submit" id="Create"/>
</form>
