<<<<<<< HEAD
<h1>Make a New Song</h1>

<form action="/songs" method="POST">
  <label for="name">Name</label>
  <input type="text" name="song[name]" id="name">

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" id="artist_name">

  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" id="<%= genre.name %>">
  <% end %>

  <input type="submit" value="Create">
</form>


=======
<h1>Add a New Song</h1>

<form action="/songs" method="POST">
  <label> Artist Name </label>
  <input type="text" name="Artist Name"> </br>

  <label> Song Name </label>
  <input type="text" name="Name"> </br>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
>>>>>>> add solutions
