<h1>Create a New Song</h1>

<form action="/songs" method="POST">
  <label>Name</label>

  <br>

  <input type="text" name="song[name]" id="Name">

  <br>

  <label>Genre</label>

   <br>

  <%@genres.each do |genre|%>
      <input type="checkbox" name="genre[id]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
  <%end%>

  <br>

  <label>Choose an existing artist</label>

   <br>

  <%@artists.each do |artist|%>
      <input type="checkbox" name="song[artist][]" value="<%=artist.id%>" id="<%=artist.slug%>"><%=artist.name%></input>
  <%end%>

  <br>

  <label>and/or, create a new artist:</label>
  <br>
  <label>Artist Name</label>
    <input type="text" name="artist[name]" id="Artist Name"></input>
  <br>
  <input type="submit" value="Create" id="Create">
</form>
