<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label><input type="text" name="name" id="Name">
  <br></br>
  <label>Choose an existing artist:</label>
  <br></br>
  <%Artist.all.each do |artist|%>
    <%binding.pry%>
    <input type="checkbox" name="Artist Name" id="<%=artist.name%>" value="<%=artist.name%>"><%=artist.name%></input><br>
  <%end%>

  <br></br>

    <label>and/or, create a new artist:</label>
    <br></br>

      <input  type="text" name="Artist Name"></input>
    <br></br>
    <label>Choose an existing genre:</label>
    <br></br>
    <%Genre.all.each do |genre|%>
      <input type="checkbox" name="Genre Name" id="<%=genre.name%>" value="<%=genre.name%>"><%=genre.name%></input><br>
    <%end%>

    <br></br>

      <label>and/or, create a new genre:</label>
      <br></br>

        <input  type="text" name="Genre Name"></input>
  <input type="submit" value="Create">
</form>
