<h1>Add an Song</h1>

<form action="/songs" method="post">
  <label for="Name">Song Name:</label>
  <input type="text" name="Name" id="Name">

  <br><br>

  <h3>Select an Artist:</h3>
  <% @artists.each do |artist| %>
    <input id="<%= artist.name %>" type="radio" name="artist" value="<%= artist.id %>"><%= artist.name %></input>
  <% end %>

  <br><br>

  <h4>Or Add an Artist:</h4>
  <input type="text" name="Artist Name" id="Artist Name">

  <h3>Select Genres:</h3>
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>

  <br><br>

  <input type="submit" value="Create">
</form>
