<h1>New Song</h1>

<form action="/songs/new" method="post">
	<label>Name:</label>
	<input type="text" name="song[name]" id="Name"><br>

	<label>Choose an existing genre:</label><br>
	<%Genre.all.each do |genre|%>
		<input type="checkbox" name="song[genres][]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
	<%end%><br>

	<label>Or create a new genre:</label>
	<label for="genre[name]">Name:</label>
  	<input type="text" name="genre[name]" id="genre_name"><br>
	

	<label>Choose an existing artist:</label><br>
	<%Artist.all.each do |artist|%>
		<input type="checkbox" name="song[artist_id]" id="<%=artist.name%>" value="<%=artist.id%>"><%=artist.name%></input>
	<%end%><br>

	<label>Or create a new artist:</label>
	<label for="artist[name]">Name:</label>
  	<input type="text" name="artist[name]" id="Artist Name"><br>
  	<input type="submit" name="submit" value="Create">
  	
</form>