<h1>Create a new song</h1>

<form action="/songs" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="Name">
  <br></br>
  <label>Select an Artist</label>
  <% Artist.all.each do |artist| %>
  <input type="radio" name="Artist" value="<%= artist.id %>"><%= artist.name %></input>
  <% end %>
  <label>Or create a new artist</label>
  <input type="text" name="Artist Name">
  <br></br>
  <label>Select Genres</label>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>

  <input type="submit" value="Create">

</form>
