<h3>Enter a New Song Below:</h3>
<form method="POST" action="/songs">
  <label for="Name">Title:</label>
  
  <input id="Name" type="text" name="song[name]"></input>
  
  <br></br>
  
  <label for="Artist Name">Enter an artist:</label></label>
  
  <br></br>
  
  <input id="Artist Name" type="text" name="artist[name]"></input>
  
  <br></br>
  
  <label>or select an existing artist:</label>
  
  <br></br>
  
  <% @artists.each do |artist| %>
    <input type="radio" name="song[artist_id]" value="<%= artist.id %>" id="<%= artist.id %>"><%= artist.name %></input><br></br>
  <% end %>
  
  <br></br>
  
  <label for="Genre Name">Enter a genre:</label></label>
  
  <br></br>
  
  <input id="Genre Name" type="text" name="genre[name]"></input>
  
  <br></br>
  
  <label>and/or select from the existing genres:</label>
  
  <br></br>
  
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>"><%= genre.name %></input><br></br>
  <% end %>
  
  <br></br>
  
  <input type="submit" value="Create"></input>
</form>