<form action="/songs/new" method="post">
    <label for="Name">Name</label>
    <input type="text"
    id="Name" name="song[name]"></input>

    <label for="Artist Name">
        Artist Name
    </label>
    <input type="text"
    id="Artist Name" name="song[artist]">

    <h2>Genres</h2>
    <% @genres.all.each do |genre| %>
    <label for="<%= genre.id
     %>"><%= genre.name
     %></label>
      <input id="<%= genre.id %>" type="checkbox" name="genres[]" value="<%= genre.id
       %>"><%=genre.name%></input>
      <br>
    <% end %>

    <input type="submit" name="Create" value="Create"></input>
</form>
