<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="song[name]" id="song_name">

  <br>
  <label>Choose an existing artist:</label>
  <br>
 
  <% Artist.all.each do |artist|%>
      <input type="radio" name="song[artist_id]" id="<%= artist.id%>" value="<%=artist.id%>" <%= artist.name%></input>
  <%end%>
 
  <br> 
  <label>or create a new artist:</label>
  <br>
  <label>Artist name:</label>
    <input  type="text" name="artist[name]" id="artist_name"></input>
  <br>

  <br>
  <label>Choose a list of existing genres:</label>
  <br>
 
  <% Genre.all.each do |genre|%>
      <input type="checkbox" name="song[song_genre_ids][]" id="<%= genre.id%>" value="<%=genre.id%>" <%=genre.name%></input>
  <%end%>
 
  <br> 
  <label>and/or create a new genre:</label>
  <br>
  <label>Genre name:</label>
    <input  type="text" name="genre[name]" id="genre_name"></input>
  <br>
  <input type="submit" value="Create Song">
</form>