
<h1>Create a New Song</h1>

<form action="/songs" method="post">
<label>Name</label>
<input type="text" name="song[name]" id="Name"></input>
<br></br>

<label>Pick an Artist:</label>
  <% Artist.all.each do |a| %>
  <input type="checkbox" name="song[artist_id]" value="<%=a.id%>" id="<%=a.id%>"><%=a.name%></input>
  <% end %>
<p>
<p>Create an artist:</p>
<label>Artist Name</label>
  <input type="text" name="artist_name" id="Artist Name"></input>

<br></br>
<label>Pick a genre:</label>
  <% Genre.all.each do |g| %>
  <input type="checkbox" name="genre_ids[]" value="<%=g.id%>" id="<%=g.name%>"><%=g.name%></input>
  <% end %>
<br></br>
<label>Create a new genre:</label>
  <input type="text" name="song[genre]"></input>

<br></br> 
<button type="submit" value="create">Create</button>


</form>

