<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Song</title>
  </head>
  <body>
    <form action="/songs" method="post">
      Song Name: <input type="text" name="song[name]" id="Name">

      <br><br>

      <h4>Select an artist: </h4>
      <% Artist.all.each do |artist| %>
        <input type="radio" id="<%= artist.name %>" name="song[artist_id]" value="<%= artist.id %>"><%= artist.name %></input>
        <br>
      <% end %>

      <br></br>

        <label>and/or, create a new artist:</label>
        <br></br>
        <label>name:</label>
          <input  type="text" name="artist[name]" id="Artist Name"></input>
        <br></br>

        <h4>Select a Genre: </h4>
        <% Genre.all.each do |genre| %>
          <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
          <br>
        <% end %>


        <br></br>

          <label>and/or, create a new genre:</label>
          <br></br>
          <label>name:</label>
            <input  type="text" name="genre[name]" id="genre_name"></input>
          <br></br>

      <input type="submit" value="Create">

    </form>
  </body>
</html>
