<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>
<br>

<% @artist = @song.artist %>
<h4>Artist:
  <% if @artist %>
    <a href="/artists/<%= @artist.slug %>"><%=@song.artist.name%></a>
  <%end%> </h4>

<h4>Genres: </h4>
<ul>
  <%@song.genres.each do |genre|%>
  <li><a href="/genres/<%= genre.slug %>"><%=genre.name%></a></li>
  <%end%>
</ul>
