<%= @song.name %>

<a href="/artists/<%= @song.artist.slug %>">
<%= @song.artist.name %></a>

<% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
