<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <h1><%= @song.name %></h1>
    <h3>Artist </h3>
    <a href="/artists/<%= @artist_slug %>"><%= @artist %></a><br>
    <h3>Genre</h3>
    <a href="/genres/<%= @genre_slug %>"><%= @genre %></a>
  </body>
</html>
