<h1><%= @song.name%></h1>

<h2>Artist: <a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name%></a></h2>
<h2>Genres:</h2>  
  <% @song.genres.each do |g| %>
    <ul>
      <li><h2><a href="/genres/<%=g.slug%>"><%= g.name %></a></h2>
    </ul>
  <% end %>