<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Song: <%= @song.name %></h1>

<h3>Artist:</h3>
<p><a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a></p>

<h3>Genre:</h3>
<% @song.genres.each do |genre| %>
  <p><a href='/genres/<%= genre.slug %>'><%= genre.name %></a></p>
<% end %>

<a class="btn btn-default" href="/songs/<%= @song.slug %>/edit" role="button">edit</a>
