<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @song.name %></h1>
<h2>By: <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></h2>
<h2>Genre: <a href="/genres/<%= @genre.slug %>">"<%= @genre.name %></a></h2>
