<em><%= flash[:message] if flash.has?(:message) %></em>

<h1><%= @song.name %></h1>

<h2><em><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></em></h2>

<p>Genres:</p>
<ul>
  <% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ul>
