<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%= @song.name %></h2>
<h3>Artist: <%= @song.artist.name %></h3>
<a href="/artists/<%= @song.artist.slug %>">Artist Page</a>
<h3>Genres: </h3>
<% @song.genres.each do |genre| %>
  <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>

<br>

<a href="/">Home</a><br></br>

<a href="/songs/<%= @song.slug%>/edit">Edit This Song</a>
