<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @song.name %></h1>

<p><a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %></a></p>

<% @song.genres.each do |g| %>
  <p><a href="/genres/<%= g.slug %>"> <%= g.name %></a></p>
<% end %>