<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> This is the song show page </h1>

<h3> Song Name: <%=@song.name%> </h3>
<h3> Song Artist: <%=@song.artist.name%> </h3>
<h3> Song Genres:</h3>
<ul>
<%@song.genres.each do |genre|%>
  <li><%=genre.name%></li>
  <li><a href="/genres/<%=genre.slug%>">Link to the genre: </a></li>
<%end%>
<h3>Here is a link to the artist</h3>
<a href="/artists/<%=@song.artist.slug%>"></a>
</ul>
