<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Song: <%= @song.name %></h1>

<h3>Artist:</h3>

<li><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></li>


<h3>Genre: </h3>

<% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %>
