    <title>My Song Collection</title>

    <h1> <%=@song_name%></h1>

    <a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %> </a>

    <%@song.genres.each do|genre|%>
      <a href='/genres/<%=@genre.slug%>'> <%=@genre.name%>
    <%end%>

    <% if flash.has?(:message) %>
      <%= flush[:message] %>
    <% end %>
