<h1><%= @song.name %></h1>
<%= @song.name %>: Artist:
<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>

<ul><%= @song.name %>: Genres:
  <% @song.genres.each do |genre| %>
    <li><a href='/genres/<%= genre.slug %>'><%= genre.name %></a></li>
  <% end %>
</ul>
