 <% if flash.has?(:message) %>
   <%= flash[:message] %>
 <% end %>

<h1> Please see details of your selected song below: </h1>
<h3><%= @song.name %> </h3>
<p><a href = "/artists/<%=@song.artist.slug %>"><%= @song.artist.name %> </a></p>
<% @song.genres.each do |genre| %>
  <p><a href = "/genres/<%= genre.slug %>"><%= genre.name %> </a></p>
<%end %>
