<h1>Song page</h1>

<p><label for="song_name">Song name:</label></p>
<h1><%=@song.name%></h1>

<p><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p>

<% @song.genres.each do |genre|%>
    <p><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></p>
<%end%>
