<p>Successfully created song.</p>

<h2><%=@song.name%></h2>
<h4>Artist Name:</h4>
<ul>
  <li><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></li>
</ul>
<h4>Genres:</h4>
<%@song.genres.each do |genre|%>
  <ul>
    <li><a href="/genres/<%=genre.slug%>"><%=genre.name.titleize%></a></li>
  </ul>
  <%end%>
