<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>SHOW SONGS</h1>

<h1> <%= @song.name %> </h1>

<label> Artist: </label>
<a href="/artists/<%=@song.artist.slug%>"> <%=@song.artist.name%></a>


<label> Genre: </label>
<% @song.genres.each do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a>
<% end %>
