<% if flash.has?(:message) %>
<%= flash[:message] %>
<%end%>

<h1><%=@song.name%></h1>

<br></br>

<h2>Artist</h2>

<ul>

  <li><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></li>

  <h2>Genres</h2>

  <% @song.genres.each do |genre| %>
  <li><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></li>
  <% end %>
</ul>
