<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title>Song Info</title>
</head>
<body>
  <h3>Song: <%= @song.name %></h3>
  <p>Artist:</p>
    <ul>
      <li><a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a></li>
    </ul>
  <p>Genre:</p>
    <ul>
      <li><a href="/genres/<%=@song.genres[0].slug%>"><%= @song.genres[0].name %></a></li>
    </ul>
</body>
</html>