<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style="background-color: Gainsboro;color:DarkSlateGrey;">
	
<h1>Here's One of Your Songs</h1>

	<h2>Song: <%= @song.name %></h2> 	
	<% if flash.has?(:message) %>
		<%= flash[:message] %>
  <% end %>	
		<ul>
		<li> <h4>Artist: <a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %></a></li></h4>
		<% @song.genres.each do |genre| %>
		<li><h4> Genre: <a href="/genres/<%=genre.slug %>"><%= genre.name %></a></li></h4>
		<% end %>		
	</ul>

</body>
</html>
		