<h4>Song Name:</h4>
<h2><%=@song.name%></h2><br>
<hr>
<div>
<h4>Song Artist:</h4><br>
<h2><a href="/artists/<%=@song.artist.slug%>"</a> <%=@song.artist.name%></h2><br>
</div>
<div>
  <hr>
<h4>Song Genre:</h4><br>
<h2><a href="/genres/<%=@song.genres.first.slug%>"</a> <%=@song.genres.first.name%> </h2>
</div>
