<h1><%=@song.name%></h1>

<h2>
	<strong>Songs Artist:</strong> 
	<em><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></em>
</h2>

<h3>Song Genres:</h3>
<ul>
<%@song.genres.each do |genre|%>
	<li><a href="/genres/<%=genre.slug%>""><%=genre.name%></a></li>
<% end %>
</ul>