<label> Song: </label> <%= @song.name %>

<ul>Artist:
    <li><a href="/artists/<%= artist.slug %>"><%= @song.artist.name %> </a></li>
  <% end %>
</ul>

<ul>Genres:
  <% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %> </a></li>
  <% end %>
</ul>
