<h1><%=@song.name if @song.name%></h1>
<% if @song && @song.artist %>

<p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p>
<%end%>

<%@song.genres.each do |genre|%>
<p>Genre: <a href="/genres/<%=genre.slug%>"><%=genre.name%></a></p>
<%end%>
<br>
<p><a href="/songs/<%=@song.slug%>/edit">Edit Song</a></p>
