<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Song Name: <%=@song.name%></h1>
<br>
<h1>Song's Artist Name: <a href="/artists/<%= @song.artist.slug %>"><%=@song.artist.name%></a><</h1>
<br>
<h1>Song's Genres Name(s):
<%@song.genres.each do |genre|%>
  <li><a href="/genres/<%= genre.slug %>"> <%=genre.name%></a></li>
<%end%></h1>