<p><%= @success_message %></p>
<br></br>
<h1><%= @song.name %></h1>
<p>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>
<p>Genre(s):</p>
<% @song.genres.each do |genre| %>
<ul>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
</ul>
<% end %>
