<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
  <h3>Successfully created song.</h3>
  <h1><%=@song.name%></h1>
  <p><%=@song.artist.name%></p>
  <p><a href="/artists/<%=@song.artist.slug%>"></a></p>
  <p><%@song.genres.each do |genre|%></p>
  <p><%=genre.name%></p>
  <p><a href="/genres/<%=genre.slug%>"></a></p>
  <%end%>
