<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%= @song.name %> </h1>
    <a href="/artists/<%= @song.artist.slug%>"><%= @song.artist.name %></a>
      <% @song.genres.each do |genre| %>
          <a href="/genres/<%= genre.slug %>">
            <%= genre.name %>
      <% end %>
  </body>
</html>
