Song's name: <%= @song.name %> </br>
Song's artist: <%= @song.artist.name %> </br>
Song's artist's link: <a href="/artists/<%=@song.artist.slug%>"></a> </br>
Song's artist's genres: </br>

<%@song.genres.each do |g|%>
<li><%=g.name%></li> </br>
<a href="/genres/<%=g.slug%>"></a> </br>
<%end%>
