<h1><%= @song.name %></h1>

<h3>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h3>
<h3>Genres: </h3>
  <ul>
    <% @song.genres.each do |genre| %>
      <l1><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></l1>
    <% end %>
  </ul>

<h3><a href="/songs/<%= @song.slug %>/edit">Click Here</a> to edit your songs information</h3>

<%if flash.has?(:message)%>
  <p><%= flash[:message] %></p>
<%end%>
