<h1><%= @song.name %></h1>
<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>
<h4>Genres:</h4>
<ul>
    <% if @genres 
        @genres.each do |genre| %>
        <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>  
     <% end %>
    <% end %>
</ul>