<h1><%=@song.name%></h1>

<%if flash.has?(:message) %>
<%= flash[:message] %>
<%end%>

<h3>Artist: <a href= "/artists/<%= @song.artist.slug%>"><%= @song.artist.name%></a></h3>

<ul>
<h3>Genres: </h3>
  <% @song.genres.each do |g| %>
    <li><a href="/genres/<%= g.slug %>"><%= g.name%></a></li>
  <%end%>
</ul>
