<!DOCTYPE html>
<html>
<head>
<title>Song</title>
</head>
<body>


<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1><%=@song.name%></h1>
<a href="../artists/<%=@artist.slug%>"><%=@artist.name%></a>
<a href="../genres/<%=@genre.slug%>"><%=@genre.name%></a>

</body>
</html>
