<h2>Title: <%=@song.name %> </h2>
<h2>Artist: <%=@song.artist.name %> (<a href="/artists/<%= @song.artist.slug%>">more info</a>)</h2>
<h2>Genre(s):
<%@song.genres.each do |genre| %>
<a href="/genres/<%=genre.slug%>"><%= genre.name %></a> 
<% end %>
(<a>more info</a>)</h2>


