<h1><%=@song.name.upcase%></h1>

<h4>ARTIST:</h4>
<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a>

<h4>GENRE:</h4>
<% @song.genres.each do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a>
<% end %>
