<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> <%= @song.name %> </h1>
  <br>
<h2> <a href="/artists/<%= @song.artist.slug %>"> <%=@song.artist.name%> </a> </h2>
  <br>
<% @song.genres.each do |genre| %>
  <h2> <a href="/genres/<%= genre.slug %>"> <%= genre.name%> </a> </h2>
<%end%>
