<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>


<h2>Artist: </h2><br>
<h3><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h3><br>

<h2>Genre: </h2><br>
<p><% @song.genres.each do |genre| %>
  <li>
    <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
  </li>
<% end %>

</p>
