<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1><%= @song.name %></h1>
<h2>Artist Name: <a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %> </a> </h2>
<h2>Genres:</h2>
    <ul>
    <% @song.genres.each do |g| %>
        <li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
    <% end %>
    </ul>