<h1>Song </h1>

<h2><%= @song.name %></h2>
<h2><a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></h2>
<% @genres.each do |g| %>
	<h2><a href="/genres/<%= g.slug %>"><%= g.name %></a><%= g.name %></h2>
<% end %>


