<h1>song/show</h1>

<%= @song.name %>

<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>

<br>

<% @song.genres.each do |g| %>
<a href="/genres/<%= g.slug %>"><%= g.name %></a>
<% end %>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
