<% unless locals.empty? %>
  <p style="color: green"><%= message %></p>
<% end %>

<h2><%= @song.name %></h2>

<p><strong>Artist:</strong>
<a href="/artists/<%= @song.artist.slug %>">
  <%= @song.artist.name %></a></p>

<p><strong>Genres:</strong>
  <% @song.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>,
  <% end %>
</p>