    <title>My Song Collection</title>
    
      <h2> Song Name: <%=@song.name%>  </h2>
      
        <%@artists.each do|artist|%>              
          <a href='/artists/<%=@song.artist.slug%>'> <%=@song.artist.name%>
                  
        <%@genres.each do|artist|%>              
        <a href='/genres/<%=@genre.slug%>'> <%=@genre.name%>
          <%end%>
