<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> <%=@song.name%> </h1>
<p>Artist: <%=@song.artist.name%></p>
<p><a href="/artists/<%=@song.artist.slug%>"></a></p>
<p>Genres:
<%@song.genres.each do |genre|%>
    <p><%=genre.name%></p>
    <p><a href="/genres/<%=genre.slug%>"></a></p>
    <%end%>