<h3 style="color: #16A085;"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></h3>

<h2>Song: <%= @song.name %></h2>
<p>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>
<p>Genre(s):
  <% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></li>
  <% end %>
</p>

<a href="/songs/<%= @song.slug %>/edit">Edit song</a>
