<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> <%= @song.name %> </h1>


<!-- #we gave the name a link in the show page -->
 <a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %> </a>
<!-- Create a new Song -->

<%@song.genres.each do |genre|%>
 <a href="/genres/<%= genre.slug %>"> <%= genre.name %> </a>
 <%end%>



<!-- #we create the link in the View of artist. for line 3 to functions. -->

<!-- #we create the link in the View of artist. for line #7 to functions. -->
