  <%= flash[:message] %>


<h1><%= @song.name %></h1>
<h3>Genres:</h3>
<ul><% @song.genres.each do |genre| %>
  <li><a href = "/genres/<%= genre.slug %>"><%= genre.name %></a>
  <% end %>
</ul><br>

<h3>Artist:</h3>
<p><a href = "/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>
