<h1><%=@song.name%></h1>
by<h3><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></h3>

<%@song.genres.each do |genre|%>
<a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h3>
<% end %><br></br>

<a href="/songs/<%=@song.slug%>/edit">click here to edit this song </a>
