<h3>Here's your favorite song:</h3>
  <h6><%=@song.name%></h6>
    <p><a href="/artists/<%=@artist.slug%>"><%= @artist.name %></a></p>

    <%@song.genres.each do |genre|%>
    <p><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></p>

    <%end%>
