<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>
<p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p>
<p>Genre: <a href="/genres/<%=@song.genres[0].slug%>"><%=@song.genres[0].name%></a></p>
