
<h1><%=@song.name%></h1>
<h3>Artist Name: <%=@song.artist.name%> </h3>
<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a><%=@song.artist.name%>
<%@song.genres.each do |genre|%>
    <p>Genre Type: </p><a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
<%end%>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p>"Successfully updated song."</p>
<p>"Successfully created song."</p>
