
<h1> <%= @song.name %></h1>
<% @song.genres.each do |genre| %>
<h1> <%= genre.name %></h1>
<a href="/genres/<%= genre.slug %>"> <%= genre.name %></a>

 <% end %>


<% if @song.artist %>
<h1> <%= @song.artist.name %></h1>
<a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %></a>
<% end %>