<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<%#binding.pry%>
<h2>Name:<%= @song.name %></h2>
<h2>Artist:<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>
<h2>Genres:</h2>
<ul>
  <% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
