<p><%= @song.name %></p>
<p><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>
<% @song.artist.genres.map do |genre| %>
  <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>
<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
