<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<%=@song.name%>

<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a>

<% @song.genres.each do |g|%>
    <a href="/genres/<%=g.slug%>"><%=g.name%></a>
<%end%>