<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>

<h4>Artist: </h4>
  <a href="/artists/<%=@song.artist.slug%>"> <%=@song.artist.name%> </a>

<h4>Genre(s):</h4>
<ul>
  <%@song.genres.each do |genre|%>
    <li><a href="/genres/<%=genre.slug%>"> <%=genre.name%> </a></li>
  <%end%>
</ul>

<h4><a href="/songs/<%=@song.slug%>/edit">Edit</a></h4>
