<h1><%=@song.name%></h1>

<<<<<<< HEAD
<h2>by <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a>
</h2>

<h4>Genres</h4>
  <%@song.genres.each do |genre|%>
     <a href="/genres/<%=genre.slug%>"><%=genre.name%><br>
  <%end%>
=======
<h2>by <a href="/artists/<%=@song.artist.slug>"><%=@song.artist.name%></a>
</h2>

<h4>Genres</h4>
<%@song.genres.each do |genre|%>
 <a href="/genres/<%=genre.slug>"><%=genre.name%><br>
>>>>>>> b209d5f62ccd2674810745d248f85de3cc9ac1cf
