<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1><%= @song.name %></h1>



<% slug = @artist.slug %>
<h3>By: <a href="/artists/<%= slug %>"><%= @artist.name %></a></h3>



<h2>Genres</h2>
<ul>
<% @genres.each do |genre| %>
<% slug = genre.slug %>
<li><a href="/genres/<%= slug %>"><%= genre.name %></a></li>
<% end %>
</ul>
