<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<a href="/songs/<%= @song.slug %>/edit">Edit</a>
<h1><%= @song.name %></h1>

<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>


<h2>Genres:</h2>
<% @song.genres.each do |genre| %>
	<p>
		<a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
	</p>
<% end %>
