<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h2>Given Song</h2>
<p>
<%=@song.name%><br>
<!--% binding.pry %-->
<a href="/artists/<%= @song.artist.slug %>"><%=@song.artist.name%></a><br>
<% @song.genres.each do |genre| %>
<p><a href="/genres/<%= genre.slug %>"><%=genre.name%></a></p>
<% end %>
</p>
<h2><%= @song.name %></h2>
<h3><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h3>
<% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

