<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1> <%=@song.name%> </h1>

<h2>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name %></a></h2>

<h2>Genre(s):
<%@song.genres.each do |genre|%>
  <h2><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h2>
<%end%>

<a href="/songs/<%="#{@song.slug}"%>/edit">
<input type="submit" value="Edit Song"></a>

<a href="/songs">
<input type="submit" value="Home Page">
</a>

