<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>
<p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p>
<label>Genres:</label>
<%@song.genres.each do |genre|%>
  <p><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></p>
<% end %>
