<html>
<h2>Song: <%=@song.name%></h2>
<h2>Artist: <%=@song.artist.name%></h2>
<a href="/artists/<%=@song.artist.slug%>">Artist Page</a>
<%@song.artist.genres.each do |genre|%>
<h2>Genre: <%=genre.name%></h2>
<a href="/genres/<%=genre.slug%>">Genre: </a>
<h3>Successfully created song.</h3>
<h3>Successfully updated song.</h3>

<%end%>

</html>
