<h1>Song</h1>

<h4>Songs's artist: <%= @song.artist.name %></h4>
<h4>Song's genres: <%= @song.genres %></h4>
<a href="/artists/<%=@song.artist.slug%>">Artist's show page</> 

<% @song.genres.each do |genre|%>
<a href="/genres/<%=genre.slug%>"><%= genre.name %></>
<% end %>
