<h1>Song:</h1><br>
<%= @song.name %>

<h1>Artist:</h1>

<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%> </a>
<br>

<h1>Genre:</h1>
<% @song.genre.each do |genre| %>
<a href="/genres/<%=genre.slug%>"><%=genre.name %><%=@song.genre.name%> </a>
<br>
<% end %>
