<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>


<table>
<tr><th>Artist</th><th>Genre</th></tr>


                     <tr>
                     <td><a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></td>
                     
                     
                     <td>
                     <%@song.genres.each{|genre|%>
                     <a href="/genres/<%=genre.slug%>"><%=genre.name%></a><br>
                     <%}%>
                     </td>
                     
                     
                     </tr>

</table>

<br><br>

<form method="get" action="/songs/<%=@song.slug%>/edit">
<input type="submit" id="edit" name="edit" value="Click to edit">
</form