<h1>Song Name: <%= @song.name %></h1>
<h2>Arist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h1>

<% @song.genres.each do |genre| %>
<h2>Genre: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h2>
<% end %>

