<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

<h1>Song Name: <%= @song.name %></h1>

<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>

<% @song.genres.each do |song| %>
  <a href="/genres/<%= song.slug %>"><%= song.name %></a>
<% end %>