<h2><%= @song.name %></h2>
<p><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>
<% @song.genres.each do |genre| %>
  <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
