<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p>
  <label>song name:<%=@song.name%></label>
  <br>
  <label><a href="/artists/<%= @song.artist.slug %>">artist:<%=@song.artist.name%></a></label>
  <br>
  <label>genres</label>
  <ul>
    <% @song.genres.each do |genre| %>
      <li> <label> <a href="/genres/<%=genre.slug%>"> <%=genre.name%> </a> </label> </li>
    <% end %>
  </ul>
  <a href="/songs/<%=@song.slug%>/edit">edit</a>
</P>
