<% if flash.has?(:message)%>
<%= flash[:message]%>
<%end%>

<h2><%= @song.name %></h2>
<a href='/artists/<%=@artist.slug%>'><%= @artist.name %></a>
<% @genres.each do |g| %>
<%genre = Genre.all.find(g.id)%>
<a href='/genres/<%=genre.slug%>'><%= genre.name%></a>

<%end %>
