<h1>"Successfully created song."</h1>

<h1><%="#{@song.name} by "%><a href="/artists/<%=@song.artist.slug%>"><%="#{@song.artist.name}"%><a/></h1>

<label>Genre: </label>
<%@song.genres.each do |genre|%>
<a href="/genres/<%=genre.slug%>"><%="#{genre.name}"%></a>
<%end%>
