
<h1><%= @song.name %></h1>

<ul>

  <% if @song.artist != nil %>
  <li><a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a></li>
  <%end%>
  <% @song.genres.each do |genre| %>
  <li><a href='/genres/<%= genre.slug %>'><%= genre.name %></a></li>
<% end %>
</ul>
