<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h2><%= @song.name %></h2>
<h1><%= @artist.name %></h1>
<%@genres.each do |genre|%>
  <input type='checkbox' name='genres[]' value='<%=genre.id%>' id='<%=genre.name%>' <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
<%end%>
<a href='/artists/<%=@artist.slug%>'></a>
<% @genres.each do |g| %>
  <a href='/genres/<%=g.slug%>'></a>
<% end %>
