<h1><%= @song.name %></h1>

<% if !@artist.nil? %>
<h2>Artist:</h2><a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></h2>
<% end %>

<h2>Genres:</h2>
<ol>
  <% @genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ol>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
