<%=@song.name%>
<%if @song == Song.last%>
  <p>Successfully created song.</p>
  <p>Successfully updated song.</p
  <%end%>


<br></br>

<h2>Artist</h2>

<a href='/artists/<%=@song.artist.slug%>'><%=@song.artist.name%></a>

<br></br>

<h2>Genres</h2>

<ul><%@song.genres.each do |genre|%>
  <li><a href='/genres/<%=genre.slug%>'><%=genre.name%></a></li>
  <%end%></ul>
