<h1><%=@song.name%></h1>
<h4>Artist:</h4>
<ul>
  <a href="/artists/<%= @song.artist.slug %>">
  <%= @song.artist.name %></a>
</ul>

<h4>Genres:</h4>
<ul>
  <% @song.genres.each do |genre|%>
  <a href="/genres/<%= genre.slug %>">
  <%= genre.name %></a>
  <% end %>
</ul>
