<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Song Page</title>
  </head>
  <body>
    <h1>Song Title</h1>
    <h3><%= @song.name %></h3>
    <h4><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h4>
    <% @song.genres.each do |genre| %>
      <h5><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h5>
    <% end %>

    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>

  </body>
</html>
