
<h1>Show Specific Song</h1>

<h2>Song Name: <%= @song.name %> </h2>

<h3>Song's Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h3>

<h3>Song Genres:</h3>
<!-- <p>Song_Genre Attributes : <%= @song_genres.attribute_names %></p> -->

<ul>
  <% @song_genres.each do |song_genre| %>
    <% if song_genre.song_id == @song.id%>
      <li><a href="/genres/<%= song_genre.genre.slug %>"><%= song_genre.genre.name %></a></li>
    <% end %>
  <% end %>
</ul>

<form action="/songs/<%= @song.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<!-- Used for checking attributes
https://stackoverflow.com/questions/1289557/how-do-you-discover-model-attributes-in-rails -->
