<h1>Song Name: <%=@song.name%> </h1>
<h2>Artist Name: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></h2>

<h2>Genres:</h2>
<ul>
<%@song.genres.each do |genre|%>
  <h2><li><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></li></h2>
<%end%>
