<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% song = @song %>

<h1><%= song.name %></h1>

<% url = "/artists/#{song.artist.slug}" %>
<h2>
<a href="<%= url %>">
  Artist: <%= song.artist.name %>
</a>
</h2>

<h2>Genres:</h2>

<% song.genres.each do |genre| %>

<% url = "/genres/#{genre.slug}" %>

<h3>
<a href="<%= url %>">
<%= genre.name %>
</a>
</h3>

<% end %>
