<h2><%=@song.name%></h2>

<p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p>
<p>Genre: <a href="/genres/<%=@song_genre.genre.slug%>"><%=@song_genre.genre.name%></a></p>