<h1>Song > <%= @song.name %></h1>

<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>

<h2>Genre<% if @song.genres.count > 1 %><%= "s:" %><% else %><%= ":" %><% end %></h2>
<% @song.genres.each do |genre| %>
<li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
<% end %>
