<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<a href="/songs/<%= @song.slug %>"><h1>Song Name: <%= @song.name %></h1></a>

<p><strong>Artist: <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a></strong></ul></p>

<p><ul><strong>Genres</strong></ul></p>
<% @song.genres.each do |g| %>
<li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
<% end %>
