<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Song Info</h1>
<h1><%= @song.name %></h1>

<h2>Artist</h2>
<p><%= @song.artist.name %> - <a href="/artists/<%= @song.artist.slug %>"></a></p>

<h2>Genres</h2>
<% @song.genres.each do |genre|%>
<p><%= genre.name %> - <a href="/genres/<%= genre.slug %>"></a></p>
<% end %>