Successfully created song.
Successfully updated song.

<h1> <%= @song.name %> </h1>

Artist Name: <a href="/artists/<%= @artist.slug %>"> <%= @song.artist.name %> </a><br><br>

<% @song.genres.each do |genre| %>
  Genre Name: <a href="/genres/<%= genre.slug %>"> <%= genre.name %> </a>
<% end %>
