<h1>Here is the song!</h1>

<h3>Name: <%= @song.name %></h3>

<p><strong>Artist: </strong><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>

<p><strong>Genre(s):</strong></p>
<ol>
  <% @song.genres.sort_by{ |genre| genre.name }.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ol>
