<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

Further information about <%= @song.name %>

Artist:
<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>


<% @song.genres.each do |g| %>
  <div>
    <a href="/genres/<%= g.slug %>"><%= g.name %></a>
  </div>
<% end %>
