views/songs/show via /songs/:slug
<br></br>

<br></br>
<%= @song.name %>
<br></br>
<a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a>
<br></br>
<% @song.genres.each do |g| %>
  <a href="/genres/<%=g.slug%>"><%= g.name %></a>
<%end%>
