<% if flash.has?(:message) %>
  <font color='green'><%= flash[:message] %></font>
<% end %>

<h1><%= @song.name %></h1>

<h2>Artist: <a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a></h2>

<h3>Genres:</h3>
  <% @song.genres.each do |g| %>
    <ul>
    <li><a href='/genres/<%= g.slug %>'><%= g.name %></a></li>
  </ul>
  <% end %>
