<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @song.name %></title>
  </head>
  <body>
    <h3><%= @song.name %></h3>
    <p><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></p>

    <% @song.genres.each do |genre| %>
    <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
    <% end %>

  </body>
</html>
