<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Songs <h1>
  <%=@song.name%>
    <%=@song.artist.name%>
      <a href='/artists/<%=@song.artist.slug%>'> <%= @song.artist.name %> </a>
      <%@song.genres.each do |genre|%>
        <%=genre.name%>
        <a href='/genres/<%=genre.slug%>'> Genre Show Page </a>
<%end%>
