<h1>Song Name: <%= @song.name %></h1>

<h3>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h3>

<%@song.genres.each do |genre|%>
	<h3>Genre: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h3>
<%end%>

