<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1><%=@artist.name%></h1>

    <br></br>

    <h3>Songs:</h3>
    <p><%@artist.songs.each_with_index do |song, i|%></p>
    <p><%=i%>. <a href="/songs/<%song.slug%>"><%=song.name%></a></p>
    <%end%>

    <br></br>

    <h3>Genres: </h3>
    <p><%@artist.genres.each_with_index do |genre, i|%></p>
      <p><%=i%>.<a href="/genres/<%=genre.slug%>"><%=genre.name%></a></p>
    <%end%>
  </body>
</html>
