<%@songs.each do |song|%>
<%=song.name%>
<a href='/songs/<%=song.slug%>'</a>
<%end%>

<%@artists.each do |artist|%>
<%=artist.name%>
<a href='/artists/<%=artist.slug%>'</a>
<%end%>

<%@genres.each do |genre|%>
<%=genre.name%>
<a href='/genres/<%=genre.slug%>'</a>
<%end%>
