<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= @genre.name %></h1>
  <h2>Artists</h2>
  <ul>
    <% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></li></a>
  </ul>
  <% end %>
  <h2>Songs</h2>
  <% @genre.songs.each do |song| %>
  <ul>
    <a href="/songs/<%= song.slug %>"><li><%= song.name %></li></a>
  </ul>
  <% end %>
</body>
</html>