<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @genre.name %></title>
  </head>
  <body>
    <h1><%= @genre.name %></h1>
    <% @genre.songs.each do |song| %>
      <h4><a href="/songs/<%= song.slug %>"><%= song.name %></a> -
      <a href="/artists/<%= song.artist.slug %>"><%= song.artist.name %></a>
      </h4>
    <% end %>
  </body>
</html>
