<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% @song.name %></title>
  </head>
  <body>
    <h1><%= @song.name %></h1>
    <h2>By: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>
    <h2>Genre: <a href="/genres/<%= @song.genres.first.slug %>"><%= @song.genres.first.name %></a></h2>
  </body>
</html>
