<form method="POST" action="/songs">
  <label>Song's name:<input type='text' name="song_name" id="Name"></label><br>
  
  <% Artist.all.each do |artist| %>
  <input type="radio" id="<%= artist.name %>" name="artist_name" value="<%= artist.id %>">
  <label for="<%= artist.name %>"><%= artist.name %></label>
  <% end %>
  <label>Artist's name:<input type='text' name="artist_name" id="Artist Name"></label><br>
  
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <%=genre.name%> <br>
  <% end %>
  <button type="submit" value"Create">Create</button>

</form>