show single song

<%=@song.name%><br>
<%@artist = @song.artist%>
<%=@song.artist.name%><br>
<a href='/artists/<%=@artist.slug%>'><%=@song.artist.name%></a>
<%@song.genres.map do |genre|%>
<%="#{genre.name}"%>
<%@genre = genre%>
<a href="/genres/<%=@genre.slug%>"><%=genre%></a>
<%end%>
