<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="name" id="Name" value="<%=@song.name%>"></p>
  <p>Artist: <input type="text" name="artist" id="Artist Name" value="<%=@artist.name%>"></p>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.name%>" <%= 'checked' if @genres.include?(genre)%>><%=genre.name%></input>
  <%end%>
  <input type="submit" value="Save">
</form>
